.inputWithIcon input[type="text"] {
  padding: 15px 30px 15px 70px;
  background-color: #fff;
  opacity: 0.8;
  width: 600px !important;
  border-radius: 6px !important;
  border: none;
  font-family:  'Muli-Regular';
  @media screen and (max-width: 1024px) {
    width: 300px !important;
  }

  @media screen and (max-width: 768px) {
    width: 175px !important;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }

}

.inputWithIcon {
  position: relative;
  margin-left: 20%;

  @media screen and (max-width: 768px) {
    margin-left: 10%;
  }

  @media screen and (max-width: 1024px) {
    margin-left: 15%;
  }
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 15px;
  margin-left: 20px;
  // padding: 9px 8px;
  color: #868686;
  transition: 0.3s;


  @media screen and (max-width: 600px) {
    display: none;
  }
}

.inputWithIcon input[type="text"]:focus + i {
  color: #868686;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: #000000;
}

.svg-icon{

    @media screen and (max-width: 600px) {
      height: 20px !important;
      width: 15px !important;
      font-size: 8px !important;

  }
}

.icons-container{
  @media screen and (max-width: 600px) {
    margin-left: -5%;

  }

  @media screen and (max-width: 360px) {

    margin-left: -10% !important;

  }

  @media screen and (max-width: 320px) {
    margin-left: -15% !important;

  }

  @media screen and (max-width: 280px) {
    margin-left: -28% !important;

  }
}



