<mat-toolbar class="header">
  <img src="assets/imgs/judy_dark_transparent.png" class="header-holder">


  <div class="inputWithIcon">
    <input type="text" placeholder="Search...">
    <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="icons-container">
    <ul fxLayout="row" fxLayoutGap="20px" fxLayoutGap.xs="5px">

      <button mat-icon-button class="mobile-only ipad-off" *ngIf="pageWidth <= 600">
        <mat-icon svgIcon="search" class="svg-icon"></mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon svgIcon="notifications" class="svg-icon"></mat-icon>
      </button>


      <button mat-icon-button routerLink="/dashboard/apps">
        <mat-icon svgIcon="apps" class="svg-icon"></mat-icon>
      </button>

      <button mat-icon-button  [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="user" class="svg-icon"></mat-icon>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="user-menu">
        <div>
          <table class="menu-tab" (click)="userProfile()">
            <tr>
              <td rowspan="2">
                <div class="user-avatar">
                  <p class="initials">{{initials}}</p>
                </div>
              </td>
              <td>
                <p class="email-menu">{{email}}</p>
                <p class="role-menu">Admin</p>
              </td>
            </tr>

          </table>

          <mat-divider class="menu-break"></mat-divider>

          <button (click)="logout()" mat-button class="logout-btn">
            <mat-icon svgIcon="logout"></mat-icon>
            LOG OUT
          </button>
        </div>

      </mat-menu>
    </ul>
  </div>
</mat-toolbar>
