<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>


<div mat-dialog-content>
  <p class="dialog-title">EXPORT FILES</p>
  <div class="dialog-content">
    <table style="width: 85%">
      <tr>
        <td><mat-checkbox></mat-checkbox></td>
        <td style="font-family: Muli-Regular; font-size: 14px; color: #707070">Excel File</td>
        <td style="font-family: Muli-Regular; font-size: 14px; color: #707070; text-align: right;">47 MB</td>
      </tr>

      <tr>
        <td><mat-checkbox></mat-checkbox></td>
        <td style="font-family: Muli-Regular; font-size: 14px; color: #707070">PDF</td>
        <td style="font-family: Muli-Regular; font-size: 14px; color: #707070; text-align: right;">47 MB</td>
      </tr>
    </table>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">EXPORT</button>
  </div>
</div>
