 <div class="content-profile" fxLayout="row" fxLayout.md="row"  fxLayout.xs="column" fxLayout.sm="column" >
  <div fxFlex="45" fxFlex.md="45" fxFlex.sm="100" fxFlex.xs="100"  fxLayout="column" id="avatar" class="avatar-container-profile">
    <p class="edit-pofile-img">
      <label for="upload-photo" class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Image</label>
      <input type="file" name="photo" id="upload-photo" (change)="getFile($event)"/>
    </p>
    <div class="edit-img-profile">
      <label for="upload-photo" class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Image</label>
      <input type="file" name="photo" id="upload-photo" (change)="getFile($event)"/>
    </div>

  </div>
  <div fxFlex="65" fxFlex.md="65" fxFlex.sm="100" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="end start" class="profile-data">

    <div class="invite-done">
      <button mat-button class="btn">
        <mat-icon svgIcon="invite-done"></mat-icon> DONE
      </button>
    </div>

    <div fxLayout="column" fxLayoutGap="20px">
      <p class="profile-title">Your Profile</p>
      <p style="color: #242424; font-family: Muli-Light">To complete your registration, fill out the missing details</p>
    </div>

    <div class="user-data-profile" >

      <form [formGroup]="loginFormGroup" (submit)="submit()">
        <div fxLayout="row" fxLayoutGap="20px">

          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" name="name" formControlName="name" matInput readonly>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input type="text" name="email" formControlName="email" matInput readonly>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <mat-label>Mobile Number</mat-label>
            <input type="text"  name="phone" formControlName="phone"  matInput readonly>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Address 1</mat-label>
            <input type="text"  name="address" formControlName="address"   matInput>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <mat-label>Address 2</mat-label>
            <input type="text" name="address2" formControlName="address2"  matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input type="text" name="state" formControlName="state"   matInput>
          </mat-form-field>
        </div>


        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input type="text" name="city" formControlName="city"   matInput>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Zip</mat-label>
            <input type="text" name="zip" formControlName="zip"   matInput>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input name="password" formControlName="password"  [type]="hide ? 'password' : 'text'" matInput>
            <mat-icon svgIcon="eye-off" matSuffix *ngIf="hide" (click)="passwordToggle()" class="selectable"></mat-icon>
            <mat-icon class="hide-icon" matSuffix *ngIf="!hide" (click)="passwordToggle()">remove_red_eye</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Re type - Password</mat-label>
            <input name="confirmPassword" formControlName="confirmPassword"   [type]="hideRe ? 'password' : 'text'" matInput [errorStateMatcher]="matcher">
            <mat-icon svgIcon="eye-off" matSuffix *ngIf="hideRe" (click)="passwordToggleRe()" class="selectable"></mat-icon>
            <mat-icon class="hide-icon" matSuffix *ngIf="!hideRe" (click)="passwordToggleRe()">remove_red_eye</mat-icon>
            <mat-error *ngIf="loginFormGroup.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </div>
      </form>

    </div>

  </div>
</div>
