.invoice-input{
  width: 80%;
  border: 1px solid #ececec;
  font-family: Muli-Regular;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 5px;

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAAAAA;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AAAAAA;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #AAAAAA;
}




.hide{
  display: block;

  @media only screen and (max-width: 600px) {
    display: none;
  }

}

.show{

  display: none;

  @media only screen and (max-width: 600px) {
    display: block;


  }
}
