<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>
<p class="master-heading">INVOICE</p>
<p class="dialog-text">Invoice number: #23857</p>

<div mat-dialog-content>
  <div class="dialog-content">
    <div  fxLayout="row" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50" fxLayout="column">
        <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Bill to</p>
        <input type="text" class="invoice-input" placeholder="Name of Recipient">
        <input type="text" class="invoice-input" placeholder="Address 1">
        <input type="text" class="invoice-input" placeholder="City">
        <input type="text" class="invoice-input" placeholder="Country">

      </div>
      <div fxFlex="50" fxFlex.md="50" fxLayout="column">
        <div class="invoice-tab-container hide">
          <table style="width: 100%;">
            <tr>
              <td style="width: 50%; text-align: left">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Date of Issue</p>
                <input type="text" class="invoice-input" placeholder="dd/mm/yyyy">
              </td>

              <td style="width: 50%; text-align: left;">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Reference</p>
                <input type="text" class="invoice-input" placeholder="Enter Reference">
              </td>
            </tr>

            <tr>
              <td style="width: 50%; text-align: left">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Due of Issue</p>
                <input type="text" class="invoice-input" placeholder="dd/mm/yyyy">
              </td>

              <td style="width: 50%; text-align: left;">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Amount</p>
                <input type="text" class="invoice-input" placeholder="0.00">
              </td>
            </tr>
          </table>
        </div>

        <div class="invoice-tab-container show">
          <div>
            <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Date of Issue</p>
            <input type="text" class="invoice-input" placeholder="dd/mm/yyy">
          </div>

          <div>
            <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Reference</p>
            <input type="text" class="invoice-input" placeholder="Enter Reference">
          </div>

          <div>
            <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Due Date</p>
            <input type="text" class="invoice-input" placeholder="Enter Reference">
          </div>

          <div>
            <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Total</p>
            <input type="text" class="invoice-input" placeholder="0.00">
          </div>



        </div>
      </div>
    </div>

    <div class="invoice-items">
      <table style="width: 95%">
        <tr>
          <td style="width: 50%; text-align: left;">
            <span class="dialog-text">Description</span>
          </td>
          <td style="width: 15%; text-align: left;">
            <span class="dialog-text">Price</span>
          </td>

          <td style="width: 15%; text-align: left;">
            <span class="dialog-text">Total Time</span>
          </td>

          <td style="width: 20%; text-align: left;">
            <span class="dialog-text">Total</span>
          </td>
        </tr>

        <tr >
          <td style="width: 50%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <input type="text" style="border: none !important; font-family: Muli-Bold; width: 100%;" placeholder="Enter Invoice Description">
          </td>
          <td style="width: 15%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <input type="text" style="border: none !important; font-family: Muli-Bold" placeholder="Cost">
          </td>

          <td style="width: 15%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <input type="text" style="border: none !important; font-family: Muli-Bold" placeholder="Billable Hours">
          </td>

          <td style="width: 20%; text-align: left; border-bottom: 0.5px solid #e5e5e5;">

          </td>
        </tr>


      </table>
    </div>
    <br>
    <button mat-button>
      <mat-icon svgIcon="add-dialog"></mat-icon><span style="color: #707070; font-family: Muli-Light; font-size: 13px; margin-left: 10px">Add New Invoice</span>
    </button>

  </div>

</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">DONE</button>
  </div>
</div>
