

<div class="menu-panel menu-space">
  <span class="menu-text">Menu</span>
  <button  mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>


  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="paginator-container" *ngIf="getWidth()">
    <mat-paginator [pageSizeOptions]="[15, 20]" showFirstLastButtons></mat-paginator>
  </div>

</div>

<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <mat-toolbar class="profile-sub-menu">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <input type="text" class="search-input" placeholder="Search....." [ngModel]="filter"  #input *ngIf="!getWidth()">
      <input type="text" class="search-input" placeholder="Search....." (keyup)="applyFilter($event)"  #input *ngIf="getWidth()">
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" *ngIf="pageWidth > 1025">
        <button mat-icon-button >
          <mat-icon svgIcon="edit-practice" ></mat-icon>
        </button>

        <button mat-icon-button (click)="add()">
          <mat-icon class="practice-icon-option" [ngClass]="{'practice-icon-option-active': activity === 'new'}" svgIcon="new-practice" ></mat-icon>
        </button>

        <button mat-icon-button (click)="export()">
          <mat-icon svgIcon="export-practice" ></mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="content-practice-dash" fxLayout="row" fxLayout.md="row" *ngIf="pageWidth > 1024">
      <div fxFlex="28" fxFlex.md="28" class="practice-side-menu">
        <div fxFlex fxLayout="column" fxLayoutGap="30px">
          <div fxFlex="100"  fxLayout="row"
               *ngFor="let cases of options| filter:filter; let selectedIndex = index"
              [ngClass]="{'practice-option-selected': selectedOption === selectedIndex}" style="padding-left: 2%;">
            <span class="new-dot" *ngIf="cases.type === 'Practice Name'" ></span>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Crimmigration Consultation'" svgIcon="crimmigration-practice" ></mat-icon>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Criminal Defence'" svgIcon="criminal-practice" ></mat-icon>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Business Management'" svgIcon="business-practice" ></mat-icon>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Estate Planning'" svgIcon="estate-practice" ></mat-icon>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Personal Injury'" svgIcon="personal-practice" ></mat-icon>
            <mat-icon class="practice-icon" [ngClass]="{'practice-active-icon': selectedOption === selectedIndex}" *ngIf="cases.type === 'Litigation'" svgIcon="litigation-practice" ></mat-icon>

            <div class="options-text-practice">
              <p class="practice-menu-heading" [ngClass]="{'practice-menu-heading-active': selectedOption === selectedIndex}">{{cases.type}}</p>
              <p class="practice-menu-sub-text" [ngClass]="{'practice-menu-sub-text-active': selectedOption === selectedIndex}"> {{cases.cases}} cases | {{cases.associates}} associates</p>

            </div>
          </div>
        </div>
      </div>
      <div fxFlex="72" fxFlex.md="72" class="practice-option-content">
        <div *ngIf="activity === 'default'">
          <p class="heading">{{options[selectedOption].type}}</p>
          <p class="sub-text">{{sampleText}}</p>
          <p class="heading-alt">Hours Billed</p>
          <mat-tab-group mat-align-tabs="end" [selectedIndex]="3">
            <mat-tab label="Week">Content 1</mat-tab>
            <mat-tab label="Month">Content 2</mat-tab>
            <mat-tab label="Quarter">Content 3</mat-tab>
            <mat-tab label="Year">
              <div class="chart-container">
                <div  fxLayout="row" fxLayout.md="row">
                  <div fxFlex="30" fxFlex.md="30" fxLayout="column" fxLayoutAlign="center center">
                      <p class="increase-amount">$123,456.00</p>
                      <p class="increase-percent">20% increase</p>
                  </div>

                  <div fxFlex="70" fxFlex.md="70" class="chart-data">
                    <div class="highcharts-content">
                      <highcharts-chart
                        [Highcharts] = "highcharts"
                        [options] = "chartOptions"
                      >
                      </highcharts-chart>
                    </div>

                  </div>

                </div>

                <div  fxLayout="row" fxLayout.md="row" class="stats-container">
                  <div fxFlex="33" fxFlex.md="33" >
                    <span class="stats-main">14 </span><span class="stats-other"> /200</span>
                    <div class="progress-container associates-bar">
                      <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                    </div>
                    <p class="stats-title">Associates / Total</p>
                  </div>
                  <div fxFlex="33" fxFlex.md="33">
                    <span class="stats-main">62 </span><span class="stats-other"> /100</span>
                    <div class="progress-container leveraging-bar">
                      <mat-progress-bar mode="determinate" value="62"></mat-progress-bar>
                    </div>
                    <p class="stats-title">Leveraging Score</p>
                  </div>
                  <div fxFlex="33" fxFlex.md="33">
                    <span class="stats-main">97 </span><span class="stats-other"> /100</span>
                    <div class="progress-container probability-bar">
                      <mat-progress-bar mode="determinate" value="93"></mat-progress-bar>
                    </div>
                    <p class="stats-title">Profitability Score</p>
                  </div>
                </div>
              </div>

            </mat-tab>
          </mat-tab-group>

        </div>

        <div [hidden]="activity !== 'new'">
          <p class="heading">Name of Practice</p>
          <p class="sub-text">{{sampleText}}</p>

          <div class="practice-form-container" fxLayout="column" fxLayoutGap="30px">
            <mat-form-field appearance="fill">
              <mat-label>Number of Cases</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Number of Associates</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <div class="upload-window">
              <span class="form-title">
                Supporting Notes
              </span><br>
              <input type="file" class="dropify" data-height="200" />
            </div>
          </div>

          <div  fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5%">
            <button mat-button class="dialog-action">SAVE</button>
          </div>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource"  [hidden]="pageWidth > 1025" class="data-table-mobile">

      <ng-container matColumnDef="type">
        <td mat-cell  *matCellDef="let element" (click)=" goToView()">
          <table class="mobile-data-table">
            <tr>
              <td class="icon-width">
                <mat-icon class="practice-icon"  *ngIf="element.type === 'Crimmigration Consultation'" svgIcon="crimmigration-practice" ></mat-icon>
                <mat-icon class="practice-icon" *ngIf="element.type === 'Criminal Defence'" svgIcon="criminal-practice" ></mat-icon>
                <mat-icon class="practice-icon"  *ngIf="element.type === 'Business Management'" svgIcon="business-practice" ></mat-icon>
                <mat-icon class="practice-icon"  *ngIf="element.type === 'Estate Planning'" svgIcon="estate-practice" ></mat-icon>
                <mat-icon class="practice-icon"  *ngIf="element.type === 'Personal Injury'" svgIcon="personal-practice" ></mat-icon>
                <mat-icon class="practice-icon"  *ngIf="element.type === 'Litigation'" svgIcon="litigation-practice" ></mat-icon>
              </td>
              <td>
                <span class="mobile-table-name">{{element.type}}</span>
                <p class="mobile-table-email">{{element.cases}} cases | {{element.associates}} associates</p>
              </td>

              <td class="mobile-arrow">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </td>
            </tr>
          </table>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></tr>
    </table>
  </div>
</div>
