<div class="content" fxLayout="row" fxLayout.md="row" fxLayout.xs="column-reverse" fxLayout.sm="column-reverse">
  <div fxFlex="40" fxFlex.md="40" fxLayout="column" class="main-content">
    <div class="account-form-container">
      <p class="account-action-title">Forgot Password?</p>
      <div class="main-form-container" >
        <form [formGroup]="loginFormGroup" (submit)="login()">
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input type="password" name="password" formControlName="password" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input name="confirmPassword" type="password" formControlName="confirmPassword" matInput [errorStateMatcher]="matcher">
          <mat-error *ngIf="loginFormGroup.hasError('notSame')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

        <button *ngIf="!loader" class="action-button" (click)="login()" [disabled]="loginFormGroup.invalid">Reset</button>
          <mat-spinner *ngIf="loader" class="spinner centered" [diameter]="40"></mat-spinner>
        </form>
      </div>
    </div>

    <div  class="terms-container-mobile stick-bottom">
      <div fxFlex="100" fxLayout="row" fxLayoutGap="50px">
        <p>Terms and Conditions</p>
        <p>Disclaimer</p>
      </div>
    </div>




  </div>
  <div fxFlex="60" fxFlex.md="60" class="account-side">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxFlex="10" fxFlex.md="10">
        <img src="/assets/imgs/judy_dark_transparent.png" class="account-logo">
      </div>

      <div fxFlex="70" fxFlex.md="70" class="welcome-container">
        <p class="welcome-text">Welcome</p>
        <p class="welcome-sub-text">{{welcomeSubText}}</p>
      </div>

      <div fxFlex="20" fxFlex.md="20" class="terms-container" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="row" fxLayoutGap="50px" >
          <p>Terms and Conditions</p>
          <p>Disclaimer</p>
        </div>
      </div>
    </div>
  </div>
</div>
