<div class="menu-panel menu-space">
  <span class="menu-text">Menu</span>
</div>


<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <mat-toolbar class="profile-sub-menu">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <input type="text" class="search-input" placeholder="Search....." [ngModel]="filter"  #input >
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" >
        <button mat-icon-button (click)="upload()">
          <mat-icon svgIcon="invoice-master" ></mat-icon>
        </button>

        <button mat-icon-button (click)="view()">
          <mat-icon  svgIcon="data-master" ></mat-icon>
        </button>

        <button mat-icon-button (click)="add()">
          <mat-icon svgIcon="new-master" ></mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="content-practice-dash" fxLayout="row" fxLayout.md="row">
      <div fxFlex="28" fxFlex.md="28" class="practice-side-menu">
        <div fxFlex fxLayout="column" fxLayoutGap="30px">
          <div fxFlex="100"  fxLayout="row" (click)="selectedOption = selectedIndex; activity = ''"  *ngFor="let cases of data| filter:filter; let selectedIndex = index"
               [ngClass]="{'practice-option-selected': selectedOption === selectedIndex}" style="padding-left: 2%;">
             <span class="table-dot">
                      {{cases.initials}}
             </span>
            <div class="options-text-practice">

              <span class="practice-menu-heading" [ngClass]="{'practice-menu-heading-active': selectedOption === selectedIndex}">{{cases.name}}</span>
              <br>
              <p class="practice-menu-sub-text" [ngClass]="{'practice-menu-sub-text-active': selectedOption === selectedIndex}"> {{cases.desc}}</p>
            </div>


            </div>
          </div>
        </div>
      <div fxFlex="72" fxFlex.md="72" class="practice-option-content">

        <div *ngIf="selectedOption === 0 && activity != 'default'">
          <div>
            <div class="master-data-set">
              <span class="active-dot"></span>
              <span class="master-heading">Crimmigration Consultation</span>
              <p class="master-subtext">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                aliquam erat volutpat. Ut wisi enim ad minim veniam,
                quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                ut aliquip ex ea commodo consequat.
              </p>
              <p class="master-expand" (click)="activity = 'default'">Expand</p>
            </div>
            <hr class="master-line">

          </div>

        </div>

        <div *ngIf="selectedOption === 0 && activity === 'default'">
          <p class="heading">Crimmigration Consultation</p>

          <p class="master-file-number">File number: 23857</p>
          <div class="master-container">
            <span class="active-dot"></span>
            <span class="master-status">Status</span>
          </div>
          <br>
          <p class="sub-text">{{sampleText}}</p>


          <div class="practice-form-container" fxLayout="column" fxLayoutGap="30px">
            <mat-form-field appearance="fill">
              <mat-label>Disposition</mat-label>
              <input type="text" matInput value="Dismissed">
            </mat-form-field>

            <div class="upload-window">
              <span class="form-title">
                Supporting Notes
              </span><br>
              <textarea rows="15" [value]="sampleText"></textarea>
            </div>
          </div>
        </div>

      </div>
      </div>




  </div>
</div>
