<div id="mySidenav" class="sidenav">

  <span class="mobile-close" (click)="closeNav()">
    <mat-icon>close</mat-icon><span style="margin-left: 10px">Menu</span>
  </span>
  <table class="links-table" style="padding-left: 1%; padding-right: 1%">
    <tr (click)="selectOption('admin')" *ngIf="isSuperAdmin" >
      <td style="padding-bottom: 10%;">
        <span *ngIf="selectedAction === 'admin'" class="active-dot"></span>
      </td>
      <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'admin'}" style="padding-bottom: 10%;">
        <mat-icon svgIcon="admin-profile" class="side-menu-icon"></mat-icon>
        Administrators
      </td>
      <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'admin'}" style="padding-bottom: 10%;">30</td>
    </tr>

    <tr (click)="selectOption('users')" >
      <td style="padding-bottom: 10%;">
        <span *ngIf="selectedAction === 'users'" class="active-dot"></span>
      </td>
      <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'users'}" style="padding-bottom: 10%;">
        <mat-icon svgIcon="user-profile" class="side-menu-icon"></mat-icon>
        Users
      </td>
      <td style="padding-bottom: 10%;" class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'users'}">30</td>
    </tr>

    <tr (click)="selectOption('pending')">
      <td>
        <span *ngIf="selectedAction === 'pending'" class="active-dot"></span>
      </td>
      <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'pending'}">
        <mat-icon svgIcon="pending-profile" class="side-menu-icon"></mat-icon>
        Pending<span style="margin-left: 10px;">Invites</span>
      </td>
      <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'pending'}">30</td>
    </tr>
  </table>


</div>

<div id="overlay"></div>

<div class="menu-panel">
  <span class="menu-text">Menu</span>
  <button (click)="openNav()" mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="paginator-container">
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <table class="links-table">
      <tr (click)="selectOption('admin')" *ngIf="isSuperAdmin" >
        <td style="padding-bottom: 10%;">
          <span *ngIf="selectedAction === 'admin'" class="active-dot"></span>
        </td>
        <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'admin'}" style="padding-bottom: 10%;">
          <mat-icon svgIcon="admin-profile" class="side-menu-icon"></mat-icon>
          Administrators
        </td>
        <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'admin'}" style="padding-bottom: 10%;">30</td>
      </tr>

      <tr (click)="selectOption('users')" >
        <td style="padding-bottom: 10%;">
          <span *ngIf="selectedAction === 'users'" class="active-dot"></span>
        </td>
        <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'users'}" style="padding-bottom: 10%;">
          <mat-icon svgIcon="user-profile" class="side-menu-icon"></mat-icon>
          Users
        </td>
        <td style="padding-bottom: 10%;" class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'users'}">30</td>
      </tr>

      <tr (click)="selectOption('pending')">
        <td>
          <span *ngIf="selectedAction === 'pending'" class="active-dot"></span>
        </td>
        <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'pending'}">
          <mat-icon svgIcon="pending-profile" class="side-menu-icon"></mat-icon>
          Pending Invites
        </td>
        <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'pending'}">30</td>
      </tr>
    </table>

    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <div class="profile-sub-menu" id="toolbar-one">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <div id="search-bar">
        <input type="text" class="search-input" placeholder="Search....." (keyup)="applyFilter($event)"  #input>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <button mat-icon-button (click)="inviteUser()">
          <mat-icon svgIcon="add-profile" ></mat-icon>
        </button>
      </div>
    </div>
    <div class="table-container">
      <table mat-table [hidden]="pageWidth <= 600" [dataSource]="dataSource" class="data-table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> FIRST NAME </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="otherName">
          <th mat-header-cell *matHeaderCellDef> OTHER </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.otherName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> LAST NAME </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> EMAIL ADDRESS </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef> MOBILE NUMBER </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> ADDRESS </th>
          <td (click)="view()" mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>


        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> ROLE </th>
          <td class="selectable" (click)="openRoleDialog()" mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <table mat-table [dataSource]="dataSource"  [hidden]="pageWidth > 600" class="data-table-mobile">

        <ng-container matColumnDef="id">
          <td mat-cell  *matCellDef="let element"  (click)="view()">
            <table class="mobile-data-table">
              <tr>
                <td style="width: 15%">
                  <span class="table-dot">
                    {{getFirstLetter(element.firstName)}}
                    {{getFirstLetter(element.lastName)}}
                  </span>
                </td>
                <td>
                  <span class="mobile-table-name">{{element.firstName}} {{element.lastName}}</span>
                  <p class="mobile-table-email">{{element.email}}</p>
                </td>

                <td class="mobile-arrow">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </td>
              </tr>
            </table>
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></tr>
      </table>
    </div>
  </div>

</div>
