<div class="profile-view">
  <div class="menu-panel">
    <button class="menu-btn" mat-button routerLink="/profile/dashboard">
      <mat-icon>keyboard_arrow_left</mat-icon> Back</button>

  </div>
  <div fxLayout="row" fxLayout.md="row" fxLayout.xs="column" >

    <div fxFlex="17" fxFlex.md="17" class="side-menu">
      <table class="links-table">
        <tr (click)="selectOption('admin')" *ngIf="isSuperAdmin">
          <td>
            <span *ngIf="selectedAction === 'admin'" class="active-dot"></span>
          </td>
          <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'admin'}">
            <mat-icon svgIcon="admin-profile" class="side-menu-icon"></mat-icon>
            Administrators
          </td>
          <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'admin'}">30</td>
        </tr>

        <tr (click)="selectOption('users')">
          <td>
            <span *ngIf="selectedAction === 'users'" class="active-dot"></span>
          </td>
          <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'users'}">
            <mat-icon svgIcon="user-profile" class="side-menu-icon"></mat-icon>
            Users
          </td>
          <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'users'}">30</td>
        </tr>

        <tr (click)="selectOption('pending')">
          <td>
            <span *ngIf="selectedAction === 'pending'" class="active-dot"></span>
          </td>
          <td class="side-menu-link" [ngClass]="{'side-menu-link-active': selectedAction === 'pending'}">
            <mat-icon svgIcon="pending-profile" class="side-menu-icon"></mat-icon>
            Pending Invites
          </td>
          <td class="side-menu-count" [ngClass]="{'side-menu-count-active': selectedAction === 'pending'}">30</td>
        </tr>
      </table>
    </div>
    <div fxFlex="83" fxFlex.md="83" fxFlex.xs="100" class="dashboard-main">
      <div class="deactivate-container">
        <button mat-button class="deactivate-btn" (click)="deactivate()">
          <mat-icon svgIcon="deactivate-profile" ></mat-icon>
          Deactivate user
        </button>
      </div>

      <div class="content-profile" fxLayout="row" fxLayout.md="row"  fxLayout.xs="column" fxLayout.sm="column" >
        <div fxFlex="45" fxFlex.md="45"  fxLayout="column" [ngStyle]="{'background-image': 'url(' + avatar + ')'}" class="avatar-container">
          <p class="edit-pofile-img">Edit Image</p>
          <div class="edit-img">
            <p class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Image</p>
          </div>

        </div>
        <div fxFlex="65" fxFlex.md="65"  fxLayout="column" fxLayoutAlign="end start" class="profile-data">

          <div fxLayout="row" fxLayoutGap="20px">
            <p class="profile-title">Profile</p>
            <p class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Information</p>
          </div>

          <div class="user-data">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email Address</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Mobile Number</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Residential Address</mat-label>
              <input type="text" matInput>
            </mat-form-field>


          </div>
        </div>
      </div>

    </div>
  </div>

</div>

