<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>
<p class="master-heading">INVOICE</p>
<p class="dialog-text">Invoice number: #23857</p>

<div mat-dialog-content>
  <div class="dialog-content">
    <div  fxLayout="row" fxLayout.md="row">
      <div fxFlex="50" fxFlex.md="50" fxLayout="column">
        <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Bill to</p>
        <p class="dialog-text">Jon Kowalski</p>
        <p class="dialog-text">59 West 46th Street,</p>
        <p class="dialog-text">New York City</p>
        <p class="dialog-text">United States of America</p>
      </div>
      <div fxFlex="50" fxFlex.md="50" fxLayout="column">
        <div class="invoice-tab-container">
          <table style="width: 100%;">
            <tr>
              <td style="width: 50%; text-align: left">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Date of Issue</p>
                <p class="dialog-text">14/03/2020</p>
              </td>

              <td style="width: 50%; text-align: left;">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Reference</p>
                <p class="dialog-text">PMO 689</p>
              </td>
            </tr>

            <tr>
              <td style="width: 50%; text-align: left">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Date of Issue</p>
                <p class="dialog-text">14/03/2020</p>
              </td>

              <td style="width: 50%; text-align: left;">
                <p style="font-family: Muli-Regular; color: #707070; font-size: 15px">Amount</p>
                <p style="color: #C42021; font-family: Muli-Bold; font-size: 22px">$3,507.76</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="invoice-items">
      <table style="width: 95%">
        <tr>
          <td style="width: 50%; text-align: left;">
            <span class="dialog-text">Description</span>
          </td>
          <td style="width: 15%; text-align: left;">
            <span class="dialog-text">Price</span>
          </td>

          <td style="width: 15%; text-align: left;">
            <span class="dialog-text">Total Time</span>
          </td>

          <td style="width: 20%; text-align: left;">
            <span class="dialog-text">Total</span>
          </td>
        </tr>

        <tr *ngFor="let itms of items" >
          <td style="width: 50%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <span class="dialog-items">{{itms.desc}}</span>
          </td>
          <td style="width: 15%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <span class="dialog-items">{{itms.price}}</span>
          </td>

          <td style="width: 15%; text-align: left;  border-bottom: 0.5px solid #e5e5e5;">
            <span class="dialog-items">{{itms.totalTime}}</span>
          </td>

          <td style="width: 20%; text-align: left; border-bottom: 0.5px solid #e5e5e5;">
            <span class="dialog-items">{{itms.total}}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">DONE</button>
  </div>
</div>
