

<div class="menu-panel" style="padding-top: 1%; padding-bottom: 1%;">
  <span class="menu-text" >Menu</span>
  <button (click)="openNav()" mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

</div>
<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu-dashboard">

    <mat-list role="list">
      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/profile/dashboard')">
        <img  src="/assets/imgs/project.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Profile Management </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/practice/dashboard')">
        <img  src="/assets/imgs/practice.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Practice Management </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/master/dashboard')">
        <img  src="/assets/imgs/master.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Master Class Module </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/invoice/dashboard')">
        <img  src="/assets/imgs/invoices.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Invoices </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/expense/dashboard')">
        <img  src="/assets/imgs/expense.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Expense Management </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/case/dashboard')">
        <img  src="/assets/imgs/case.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Case Management </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/calender/dashboard')">
        <img  src="/assets/imgs/calender.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light"> Calendar </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/document/dashboard')">
        <img  src="/assets/imgs/document.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light">Documents </span>
      </mat-list-item>

      <mat-list-item role="listitem" class="dashboard-item" (click)="goToApp('/document/file')">
        <img  src="/assets/imgs/file.png"  class="dashboard-icon">
        <span style="color: #3B3B3B; font-family: Muli-Light">File Storage</span>
      </mat-list-item>

    </mat-list>

    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <mat-toolbar class="invoice-app-sub-menu">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <input type="text" class="search-input" placeholder="Search....."   #input >
    </mat-toolbar>
    <div class="invoice-app-mainn">
      <p class="invoice-app-heading">Dashboard</p>
      <div  fxLayout="row" fxLayout.md="row" fxLayoutGap="50px" class="expennse-opt">
        <div fxFlex="40" fxFlex.md="40"></div>
        <div fxFlex="60" fxFlex.md="60" fxLayout="row" fxLayoutGap="30px">
          <span class="dashboard-tab-active">Invoice</span> <span class="dashboard-tab">Expense</span>
        </div>
      </div>

      <div  fxLayout="{{layouts}}" fxLayout.md="row" fxLayoutGap="50px" class="dashboard-chart-conatiner">
        <div fxFlex="{{layoutsFirstLeft}}" fxFlex.md="{{layoutsFirstLeft}}" class="pie-chart-conatiner">
          <div fxLayout="column">
            <div fxFlex="80">
              <div style="padding-top: 10%; padding-bottom: 5%;">

                <div style="display: block; " class="pie-mobile">
                  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                          [plugins]="doughnutChartPlugins" [legend]="false" [options]="options" [colors]="doughnutChartColors"></canvas>
                </div>
              </div>


            </div>
            <div fxFlex="20" class="pie-dash-legend" fxLayout="row">
              <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon svgIcon="admin-dashboard" ></mat-icon>
                <span class="legend-text">Administrators</span>
                <span class="legend-number">30</span>
              </div>

              <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon svgIcon="clients-dashboard" ></mat-icon>
                <span class="legend-text">Clients</span>
                <span class="legend-number">60</span>
              </div>

              <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon svgIcon="pending-dashboard" ></mat-icon>
                <span class="legend-text">Pending invites</span>
                <span class="legend-number">90</span>
              </div>
            </div>
          </div>
        </div>

        <div class="mobile-opt"> <span class="dashboard-tab-active" style="margin-right: 20px">Invoice</span> <span class="dashboard-tab">Expense</span></div>
        <div fxFlex="{{layoutsFirstRight}}" fxFlex.md="{{layoutsFirstRight}}" class="bar-chart-conatiner">
          <div class="toolbar" fxLayout="row" fxLayout.md="row" fxLayoutGap="50px">
            <div fxFlex="50">
              <span class="title">Invoice Insight</span>
            </div>
            <div fxFlex="50" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="{{gap}}" >
              <div>
                <span class="options">Week</span>
              </div>
              <div>
                <span class="options">Month</span>
              </div>
              <div>
                <span class="options">Quarter</span>
              </div>
              <div>
                <span class="options-active">Year</span>
                <hr class="active-bar">
              </div>
            </div>
          </div>

          <div style="display: block;" class="bar-mobile">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [legend]="false"
                    [colors]="barChartColors"
                    [chartType]="barChartType">
            </canvas>
          </div>

        </div>
      </div>

      <div  fxLayout="{{layouts}}" fxLayout.md="{{layouts}}" fxLayoutGap="20px" class="stats-dashboard-container">
        <div fxFlex="33" fxFlex.md="33" class="tiless"  fxLayout="column">
          <p class="title">Events / Tasks</p>
          <div fxLayout="row" fxFlex="100">
            <div fxFlex="10">
                <mat-icon svgIcon="activity-green"></mat-icon>
            </div>
            <div fxFlex="75">
              <p style="color: #3B3B3B; font-family: Muli-Regular; font-size: 15px;">Lorem Ipsum dolor</p>
              <p style="color: #3B3B3B; font-family: Muli-Light; font-size: 12px; margin-top: -3% !important;">Lorem ipsum dolor sit amet, consectetuer adipis </p>
            </div>
            <div fxFlex="15" fxLayout="row" fxLayoutAlign="flex-end">
              <mat-icon svgIcon="activity-time" style="width: 15px !important; height: 13px !important;"></mat-icon> <span style="font-family: Muli-Light; margin-left: 10px;">4:00</span>
            </div>
          </div>

          <div fxLayout="row" fxFlex="100">
            <div fxFlex="10">
              <mat-icon svgIcon="activity-red"></mat-icon>
            </div>
            <div fxFlex="75">
              <p style="color: #3B3B3B; font-family: Muli-Regular; font-size: 15px;">Lorem Ipsum dolor</p>
              <p style="color: #3B3B3B; font-family: Muli-Light; font-size: 12px; margin-top: -3% !important;">Lorem ipsum dolor sit amet, consectetuer adipis </p>
            </div>
            <div fxFlex="15" fxLayout="row" fxLayoutAlign="flex-end">
              <mat-icon svgIcon="activity-time" style="width: 15px !important; height: 13px !important;"></mat-icon> <span style="font-family: Muli-Light; margin-left: 10px;">4:00</span>
            </div>
          </div>

          <div fxLayout="row" fxFlex="100">
            <div fxFlex="10">
              <mat-icon svgIcon="activity-blue"></mat-icon>
            </div>
            <div fxFlex="75">
              <p style="color: #3B3B3B; font-family: Muli-Regular; font-size: 15px;">Lorem Ipsum dolor</p>
              <p style="color: #3B3B3B; font-family: Muli-Light; font-size: 12px; margin-top: -3% !important;">Lorem ipsum dolor sit amet, consectetuer adipis </p>
            </div>
            <div fxFlex="15" fxLayout="row" fxLayoutAlign="flex-end">
              <mat-icon svgIcon="activity-time" style="width: 15px !important; height: 13px !important;"></mat-icon> <span style="font-family: Muli-Light; margin-left: 10px;">4:00</span>
            </div>
          </div>
        </div>
        <div fxFlex="27" fxFlex.md="27" fxLayoutGap="30px"  fxLayout="column">
          <div class="tiless">
            <p class="title">File Storage Space</p>
            <span  fxLayout="row" fxLayoutAlign="flex-end" style="color: #B9B9B9; font-family: Muli-Light">3%</span>
            <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
            <p style="color: #3B3B3B; font-family: Muli-Light; font-size: 14px; padding-top: 10px;">2.5 GB of 100 GB</p>
          </div>
          <div class="tiless">
            <div style="float: left">
              <p class="title">Lorem Ipsum</p>
              <p class="stat-value">$ 68 794</p>
            </div>

            <div  style="float: right">
              <p style="color: #50C9FF; font-size: 12px; font-family: Muli-Bold; text-align: right">+4.2%</p><br>
              <img src="assets/icons/graph-tile.png" class="graph-tile">
            </div>
          </div>
        </div>
        <div fxFlex="20" fxFlex.md="20" fxLayout="column">
          <div class="tiless active-tile" >
            <p style="font-family: Muli-Bold; font-size: 40px; text-align: center; padding-top: 20%;">14</p>
            <p style="font-family: Muli-Bold; font-size: 30px; text-align: center; padding-bottom: 20%;">Active Cases</p>
          </div>

        </div>

        <div fxFlex="20" fxFlex.md="20" fxLayout="column">
          <div class="tiless active-tiles" >
            <p style="font-family: Muli-Bold; font-size: 40px; text-align: center; padding-top: 20%;">30</p>
            <p style="font-family: Muli-Bold; font-size: 25px; text-align: center; padding-bottom: 20%;">Ongoing Practices</p>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
