<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>
  <p class="dialog-title">Schedule file generation</p>
  <div class="dialog-content">

    <p class="dialog-text">Email Address</p>
    <input type="text" class="app-input" placeholder="Enter Email Address">

    <p class="dialog-text">Date</p>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Select Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
</div>


<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">DONE</button>
  </div>
</div>
