<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>
  <p class="dialog-title">Invite user</p>
  <div class="dialog-content">
    <form [formGroup]="formGroup">
      <p class="dialog-text">First Name</p>
      <input
        type="text"
        name="fName"
        formControlName="fName"
        class="app-input"
        [ngClass]="{'app-input-required': formGroup.controls['fName'].invalid && (formGroup.controls['fName'].dirty || formGroup.controls['fName'].touched)}" >

      <div  fxLayout="row" fxLayoutGap="20px">
        <div  fxFlex="50">
          <p class="dialog-text">Other Name</p>
          <input type="text" name="oname" formControlName="oname"  class="app-input">
        </div>

        <div  fxFlex="50">
          <p class="dialog-text">Last Name</p>
          <input type="text"
                 name="lname"
                 formControlName="lname"
                 class="app-input"
                 [ngClass]="{'app-input-required': formGroup.controls['lname'].invalid && (formGroup.controls['lname'].dirty || formGroup.controls['lname'].touched)}">
        </div>

      </div>
      <p class="dialog-text">Contact Number</p>
      <input type="text" name="contact" formControlName="contact"   class="app-input"
             [ngClass]="{'app-input-required': formGroup.controls['contact'].invalid && (formGroup.controls['contact'].dirty || formGroup.controls['contact'].touched)}">

      <p class="dialog-text">Email Address</p>
      <input type="text" name="email" formControlName="email"   class="app-input"
             [ngClass]="{'app-input-required': formGroup.controls['email'].invalid && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)}">

      <p class="dialog-text">Role</p>
      <select class="app-input"  name="role" formControlName="role"
              [ngClass]="{'app-input-required': formGroup.controls['role'].invalid && (formGroup.controls['role'].dirty || formGroup.controls['role'].touched)}">
        <option *ngFor="let roless of roles" value="{{roless.id}}">{{roless.role}}</option>
      </select>
    </form>

  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button *ngIf="!loader" (click)="done()" mat-button class="dialog-action">DONE</button>
    <mat-spinner *ngIf="loader" class="spinner" [diameter]="40"></mat-spinner>
  </div>
</div>
