<div class="content-profile" fxLayout="row" fxLayout.md="row"  fxLayout.xs="column" fxLayout.sm="column" >
  <div fxFlex="45" fxFlex.md="45"  fxLayout="column" [ngStyle]="{'background-image': 'url(' + avatar + ')'}" class="avatar-container">
    <p class="edit-pofile-img">Edit Image</p>
    <div class="edit-img">
      <p class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Image</p>
    </div>

  </div>
  <div fxFlex="65" fxFlex.md="65"  fxLayout="column" fxLayoutAlign="end start" class="profile-data">

    <div fxLayout="row" fxLayoutGap="20px">
      <p class="profile-title">My Profile</p>
      <p class="edit-info"><mat-icon class="edit-icon">edit</mat-icon>Edit Information</p>
    </div>

    <div class="user-data">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Residential Address</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input  [type]="hide ? 'password' : 'text'" matInput>
        <mat-icon svgIcon="eye-off" matSuffix *ngIf="hide" (click)="passwordToggle()" class="selectable"></mat-icon>
        <mat-icon class="hide-icon" matSuffix *ngIf="!hide" (click)="passwordToggle()">remove_red_eye</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>
