<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>
  <p class="dialog-title">New Engagement</p>
  <div class="dialog-content">
    <p class="dialog-text">Practice Type</p>
    <select class="app-input">
      <option>Select Practice Type</option>
    </select>

    <p class="dialog-text">File Number</p>
    <input type="text" class="app-input" placeholder="Enter file number">

    <p class="dialog-text">Status</p>
    <select class="app-input">
      <option>Select Status</option>
    </select>

    <p class="dialog-text">Disposition</p>
    <select class="app-input">
      <option>Select Disposition</option>
    </select>

    <p class="dialog-text">Notes</p>
    <textarea rows="10" placeholder="Add notes"></textarea>


  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">DONE</button>
  </div>
</div>
