<div class="toast"
     [@fadeAnimation]="{value: animationState, params:
        { fadeIn: toastConfig.animation.fadeIn, fadeOut: toastConfig.animation.fadeOut }}"
     (@fadeAnimation.done)="onFadeFinished($event)">
  <mat-icon svgIcon="toast-bell" style="width: 12px !important; height: 12px; font-size: 12px; margin-right: 10px;"></mat-icon>
  <span style="font-family: Muli-SemiBold; font-size: 14px">NOTIFICATION</span>
  <div style="margin-left: 22px;">{{ data.text }}</div>
</div>

