.toast {
  margin-bottom: 20px;
  padding: 10px 15px 10px 48px;
  width: 290px;
  background: #6C0E23;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  font-family: Muli-Light;
  color: #FFFFFF;
}
