<div class="content" fxLayout="row" fxLayout.md="row" fxLayout.xs="column-reverse" fxLayout.sm="column-reverse" >
  <div fxFlex="40" fxFlex.md="40" fxLayout="column" class="main-content">
    <div class="account-form-container">
      <p class="account-action-title">Login</p>
      <div class="main-form-container" >
        <form [formGroup]="loginFormGroup" (submit)="login()">
          <mat-form-field appearance="fill">
            <mat-label>Email Address</mat-label>
            <input type="email" name="email" formControlName="email" matInput >
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" name="password" formControlName="password"  matInput>
          </mat-form-field>
          <p class="forget-text" (click)="forgot()">Forgot Password? Reset</p>
          <button *ngIf="!loader" class="action-button" (click)="login()" [disabled]="loginFormGroup.invalid">Sign In</button>
          <mat-spinner *ngIf="loader" class="spinner centered" [diameter]="40"></mat-spinner>
        </form>
      </div>
    </div>

    <hr class="account-line">

    <div class="socials-container">
      <p class="socials-text">Sign in with</p>
      <div class="socials-contact" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" >
        <img src="assets/imgs/facebook.png">
        <img src="assets/imgs/google.png">
        <img src="assets/imgs/twitter.png">
      </div>
    </div>

    <div  class="terms-container-mobile">
      <div fxFlex="100" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="center center">
        <p>Terms and Conditions</p>
        <p>Disclaimer</p>
      </div>
    </div>
  </div>
  <div fxFlex="60" fxFlex.md="60" class="account-side">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div fxFlex="10" fxFlex.md="10">
        <img src="/assets/imgs/judy_dark_transparent.png" class="account-logo">
      </div>

      <div fxFlex="70" fxFlex.md="70" class="welcome-container">
        <p class="welcome-text">Welcome</p>
        <p class="welcome-sub-text">{{welcomeSubText}}</p>
      </div>

      <div fxFlex="20" fxFlex.md="20" class="terms-container" fxLayoutAlign="end end">
        <div fxFlex="100" fxLayout="row" fxLayoutGap="50px" >
          <p>Terms and Conditions</p>
          <p>Disclaimer</p>
        </div>
      </div>
    </div>
  </div>
</div>
