<div class="practice-mobile">
  <div class="profile-view">
    <div class="menu-panel">
      <button class="menu-btn" mat-button routerLink="/practice/dashboard">
        <mat-icon>keyboard_arrow_left</mat-icon> Back</button>

    </div>
  </div>

  <div  fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" >
    <button mat-icon-button >
      <mat-icon svgIcon="edit-practice" ></mat-icon>
    </button>

    <button mat-icon-button (click)="add()">
      <mat-icon class="practice-icon-option" [ngClass]="{'practice-icon-option-active': activity === 'new'}" svgIcon="new-practice" ></mat-icon>
    </button>

    <button mat-icon-button (click)="export()">
      <mat-icon svgIcon="export-practice" ></mat-icon>
    </button>
  </div>

  <div *ngIf="activity === 'default'" class="contents">
    <p class="heading">{{options[0].type}}</p>
    <p class="sub-text">{{sampleText}}</p>
    <p class="heading-alt">Hours Billed</p>
    <mat-tab-group mat-align-tabs="end" [selectedIndex]="3">
      <mat-tab label="Week">Content 1</mat-tab>
      <mat-tab label="Month">Content 2</mat-tab>
      <mat-tab label="Quarter">Content 3</mat-tab>
      <mat-tab label="Year">
        <div class="chart-container">
          <div  fxLayout="row" fxLayout.md="row" fxLayout.xs="column-reverse">
            <div fxFlex="30" fxFlex.md="30" fxFlex.xs="100"  fxLayout="column" fxLayout.xs="coulmn" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
              <p class="increase-amount" >$123,456.00</p>
              <p class="increase-percent" >20% increase</p>

              <div class="practice-stats-alt">
                <table  style="width: 100%">
                  <tr>
                    <td style="text-align: left; color: #3B3B3B; font-family: Muli-SemiBold; font-size: 22px;">$123,456.00</td>
                    <td style="text-align: right;  color: #6C0E23; font-family: Muli-Regular; font-size: 16px;">20% increase</td>
                  </tr>
                </table>
              </div>

            </div>

            <div fxFlex="70" fxFlex.md="70" class="chart-data">
              <div class="highcharts-content-mobile">
                <highcharts-chart
                  [Highcharts] = "highcharts"
                  [options] = "chartOptions"
                >
                </highcharts-chart>
              </div>
            </div>

          </div>

          <div  fxLayout="row" fxLayout.md="row" class="stats-container">
            <div fxFlex="33" fxFlex.md="33" >
              <span class="stats-main">14 </span><span class="stats-other"> /200</span>
              <div class="progress-container associates-bar">
                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
              </div>
              <p class="stats-title">Associates / Total</p>
            </div>
            <div fxFlex="33" fxFlex.md="33">
              <span class="stats-main">62 </span><span class="stats-other"> /100</span>
              <div class="progress-container leveraging-bar">
                <mat-progress-bar mode="determinate" value="62"></mat-progress-bar>
              </div>
              <p class="stats-title">Leveraging Score</p>
            </div>
            <div fxFlex="33" fxFlex.md="33">
              <span class="stats-main">97 </span><span class="stats-other"> /100</span>
              <div class="progress-container probability-bar">
                <mat-progress-bar mode="determinate" value="93"></mat-progress-bar>
              </div>
              <p class="stats-title">Profitability Score</p>
            </div>
          </div>
        </div>

      </mat-tab>
    </mat-tab-group>

  </div>

  <div *ngIf="activity === 'new'"  class="contents">
    <p class="heading">Name of Practice</p>
    <p class="sub-text">{{sampleText}}</p>

    <div class="practice-form-container" fxLayout="column" fxLayoutGap="30px">
      <mat-form-field appearance="fill">
        <mat-label>Number of Cases</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Number of Associates</mat-label>
        <input type="text" matInput>
      </mat-form-field>

      <div class="upload-window">
              <span class="form-title">
                Supporting Notes
              </span><br>
        <input type="file" class="dropify" data-height="200" />
      </div>
    </div>

    <div  fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5%">
      <button mat-button class="dialog-action">SAVE</button>
    </div>
  </div>

</div>

