<div id="mySidenav" class="sidenav">

  <span class="mobile-close" (click)="closeNav()">
    <mat-icon>close</mat-icon><span style="margin-left: 10px">Calender</span>
  </span>

  <div class="calen-control">
          <span class="left-control" (click)="prev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </span>
    <span class="monthName"> {{getMonthName(month)}}, {{year}} </span>
    <span class="right-control" (click)="next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </span>
  </div>

  <div class="calender-thumb">
    <table style="width: 100%;">
      <tr>
        <td style="width: 2%;"> </td>
        <td class="day-name" style="width: 14%;">sun</td>
        <td class="day-name" style="width: 14%;">mon</td>
        <td class="day-name" style="width: 14%;">tue</td>
        <td class="day-name" style="width: 14%;">wed</td>
        <td class="day-name" style="width: 14%;">thur</td>
        <td class="day-name" style="width: 14%;">fri</td>
        <td class="day-name" style="width: 14%;">sat</td>
        <td style="width: 2%;"> </td>

      </tr>


      <tr *ngFor="let dayss of monthDays">
        <td style="width: 2%;"> </td>
        <td class="day-nnumber" style="width: 14%;" [ngClass]="{'today': getToday(dayss.Sunday)}">{{dayss.Sunday}}</td>
        <td class="day-nnumber" style="width: 14%;">{{dayss.Monday}}</td>
        <td class="day-nnumber" style="width: 14%;">{{dayss.Tuesday}}</td>
        <td class="day-nnumber" style="width: 14%;" ><span [ngClass]="{'today': getToday(dayss.Wednesday)}">{{dayss.Wednesday}}</span></td>
        <td class="day-nnumber" style="width: 14%;">{{dayss.Thursday}}</td>
        <td class="day-nnumber" style="width: 14%;">{{dayss.Friday}}</td>
        <td class="day-nnumber" style="width: 14%;">{{dayss.Saturday}}</td>
        <td style="width: 2%;"> </td>
      </tr>

    </table>


  </div>
</div>

<div id="overlay"></div>

<div class="menu-panel menu-space">
  <span class="menu-text">Menu</span>
  <button  mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon" (click)="openNav()">menu</mat-icon>
  </button>

</div>
<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>
  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <div fxLayout="row" fxLayout.md="row">
      <div fxFlex="70" fxFlex.md="70" class="calender-events">
        <mat-toolbar class="profile-sub-menu">
          <mat-icon svgIcon="search-profile" ></mat-icon>
          <input type="text" class="search-input" placeholder="Search.....">
          <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" >
            <button mat-icon-button >
              <mat-icon svgIcon="calender-icon" ></mat-icon>
            </button>
          </div>
        </mat-toolbar>

        <p class="heading-alt">{{getMonthName(month)}}, {{year}}</p>
        <mat-tab-group mat-align-tabs="end" [selectedIndex]="3">
          <mat-tab label="Day">Content 2</mat-tab>
          <mat-tab label="Week">Content 3</mat-tab>
          <mat-tab label="Month">
            <div class="events-grid">
              <div fxLayout="row" style="margin-bottom: 10px">
                <div fxFlex="1"></div>
                <div fxFlex="14" *ngFor="let dayyyy of getDayss()">
                  <p class="calender-day">{{dayyyy}}</p>
                </div>

                <div fxFlex="1"></div>
              </div>
              <div fxLayout="row" *ngFor="let dayss of monthDays; let i = index" [ngClass]="{'events-row': i === 0,'events-row-rest': i > 0 }">
                <div fxFlex="1"></div>
                <div fxFlex="14" class="event-cell" fxLayout="column">
                  <div class="active-event" *ngIf="dayss.Sunday">
                    Lorem ipsum
                    <mat-icon class="more-icon">more_vert</mat-icon>
                  </div>
                  <div class="overdue-event"  *ngIf="dayss.Sunday">
                    Lorem ipsum
                    <mat-icon class="more-icon">more_vert</mat-icon>
                  </div>

                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Sunday}}
                  </span>
                </div>
                <div fxFlex="14" class="event-cell">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Monday}}
                  </span>
                </div>
                <div fxFlex="14" class="event-cell">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Tuesday}}
                  </span>
                </div>
                <div fxFlex="14" class="event-cell">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                   {{dayss.Wednesday}}
                  </span>
                </div>
                <div fxFlex="14" class="event-cell">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Thursday}}
                  </span>
                </div>
                <div fxFlex="14" class="event-cell">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Friday}}
                  </span>
                </div>
                <div fxFlex="14">
                  <span fxFlex fxLayout="row" fxLayoutAlign="flex-end end" class="event-number">
                    {{dayss.Saturday}}
                  </span>
                </div>
                <div fxFlex="1"></div>
              </div>

            </div>

          </mat-tab>
        </mat-tab-group>
      </div>
      <div fxFlex="30" fxFlex.md="30" class="calender-show">
        <div class="calen-control">
          <span class="left-control" (click)="prev()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </span>
          <span class="monthName"> {{getMonthName(month)}}, {{year}} </span>
          <span class="right-control" (click)="next()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </span>
        </div>

        <div class="calender-thumb">
          <table style="width: 100%;">
            <tr>
              <td style="width: 2%;"> </td>
              <td class="day-name" style="width: 14%;">sun</td>
              <td class="day-name" style="width: 14%;">mon</td>
              <td class="day-name" style="width: 14%;">tue</td>
              <td class="day-name" style="width: 14%;">wed</td>
              <td class="day-name" style="width: 14%;">thur</td>
              <td class="day-name" style="width: 14%;">fri</td>
              <td class="day-name" style="width: 14%;">sat</td>
              <td style="width: 2%;"> </td>

            </tr>


            <tr *ngFor="let dayss of monthDays">
              <td style="width: 2%;"> </td>
              <td class="day-nnumber" style="width: 14%;" [ngClass]="{'today': getToday(dayss.Sunday)}">{{dayss.Sunday}}</td>
              <td class="day-nnumber" style="width: 14%;">{{dayss.Monday}}</td>
              <td class="day-nnumber" style="width: 14%;">{{dayss.Tuesday}}</td>
              <td class="day-nnumber" style="width: 14%;" ><span [ngClass]="{'today': getToday(dayss.Wednesday)}">{{dayss.Wednesday}}</span></td>
              <td class="day-nnumber" style="width: 14%;">{{dayss.Thursday}}</td>
              <td class="day-nnumber" style="width: 14%;">{{dayss.Friday}}</td>
              <td class="day-nnumber" style="width: 14%;">{{dayss.Saturday}}</td>
              <td style="width: 2%;"> </td>
            </tr>

          </table>


        </div>
      </div>
    </div>
  </div>
</div>
