<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>
  <p class="dialog-title">Set Role</p>
  <p class="dialog-sub-title">Hannah Christine Baers</p>

  <div class="dialog-content">
    <p class="dialog-text">Role</p>
    <select class="app-input">
      <option>Select Role</option>
    </select>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">DONE</button>
  </div>
</div>
