<div class="menu-panel menu-space">
  <span class="menu-text">Menu</span>
  <button  mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
</div>

<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <mat-toolbar class="invoice-app-sub-menu">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <input type="text" class="search-input" placeholder="Search....."   #input >
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" >
        <button mat-icon-button (click)="new()">
          <mat-icon svgIcon="new-invoice" ></mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="invoice-app-mainn">
      <p class="invoice-app-heading">Expense Summary</p>
      <div class="invoice-app-tiles" fxLayout="row" fxLayout.md="row" fxLayoutGap="20px">
        <div fxFlex="25" fxFlex.md="25" class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>
        <div fxFlex="25" fxFlex.md="25" class="tile">
          <p class="heading">Average Expenses</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>
        <div fxFlex="25" fxFlex.md="25" class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>
        <div fxFlex="25" fxFlex.md="25" class="tile">
          <p class="heading">Average Expenses</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>
      </div>
      <div class="invoice-app-tiles-mobile">
        <div  class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>

        <div  class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>

        <div  class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>

        <div  class="tile">
          <p class="heading">Total Revenue</p>
          <p class="amount">$3,507.76</p>
          <p class="duration">$300.76   Last 30 days</p>
        </div>
      </div>
      <div class="invoice-app-charts" fxLayout="{{chartsDivLayout}}" fxLayout.md="row" fxLayoutGap="40px">
        <div fxFlex="60" fxFlex.md="60" class="tile-chart">
          <span class="revenue-title">Total Expenses</span>
          <div style="float: right;" class="charts-select">
            <select class="app-input">
              <option>2020</option>
            </select>
          </div>
          <div class="highcharts-content-invoice">
            <highcharts-chart
              [Highcharts] = "highcharts"
              [options] = "chartOptions"
            >
            </highcharts-chart>
          </div>
        </div>

        <div fxFlex="40" fxFlex.md="40" class="tile-chart" fxLayout="{{chartDivLayout}}">

          <div class="pie-container">
            <highcharts-chart
              [Highcharts] = "highcharts"
              [options] = "chartOptionsPie">
            </highcharts-chart>
          </div>

          <div class="pie-legend" fxLayout="column" fxLayoutAlign="{{chartDivAlign}}" >
            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend1.png"> Lorem ipsum dolor sit</span>
            </div>
            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend2.png"> Lorem ipsum dolor sit</span>
            </div>

            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend3.png"> Lorem ipsum dolor sit</span>
            </div>

            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend4.png"> Lorem ipsum dolor sit</span>
            </div>

            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend5.png"> Lorem ipsum dolor sit</span>
            </div>

            <div style="margin-bottom: 10px">
              <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend6.png"> Lorem ipsum dolor sit</span>
            </div>

          </div>

        </div>
      </div>

      <div class="invoice-app-tabs">
        <mat-tab-group mat-align-tabs="start" [selectedIndex]="1">
          <mat-tab label="New Expenses">Content 1</mat-tab>
          <mat-tab label="Unpaid Expenses">
            <div class="invoice-app-tab-main" fxLayout="row" fxLayout.md="row" fxLayout.xs="column" fxLayoutGap="40px">
              <div fxFlex="60" fxFlex.md="60" fxFlex.xs="100" class="tile-chart" style="overflow: auto">
                <div  fxLayout="row" fxLayoutAlign="flex-end">
                  <button mat-button (click)="export()">
                    <mat-icon svgIcon="export-invoice" ></mat-icon>
                    <span class="invoice-export-btn">Export All</span>
                  </button>
                </div>

                <mat-icon svgIcon="search-profile" ></mat-icon>
                <input type="text" class="search-input" placeholder="Search....."   #inputTab  (keyup)="applyFilter($event)" >
                <table mat-table  [dataSource]="dataSource" class="data-table">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef class="invoice-tab-heading"> Expense ID </th>
                    <td mat-cell *matCellDef="let element" (click)="view()" class="invoice-tab-value"> {{element.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="dateAdded">
                    <th mat-header-cell *matHeaderCellDef  class="invoice-tab-heading"> Date </th>
                    <td mat-cell *matCellDef="let element" (click)="view()"  class="invoice-tab-value"> {{element.dateAdded}} </td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef  class="invoice-tab-heading"> Company Name </th>
                    <td mat-cell *matCellDef="let element" (click)="view()"  class="invoice-tab-value"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef  class="invoice-tab-heading"> Expense Value </th>
                    <td mat-cell *matCellDef="let element" (click)="view()"  class="invoice-tab-value"> {{element.value}} </td>
                  </ng-container>


                  <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element" >
                      <button style="border-left: 1px solid #AAAAAA;background: transparent; border-right: none; border-top: none; border-bottom: none; cursor: pointer">
                        <mat-icon class="invoice-tab-iconn" style="color: #707070 !important; padding-left: 20px">edit</mat-icon>
                      </button>

                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;">
                  </tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{inputTab.value}}"</td>
                  </tr>
                </table>

              </div>

              <div fxFlex="40" fxFlex.md="40" fxFlex.xs="100" class="tile-chart" fxLayout="{{chartDivLayout}}">
                <div class="pie-container">
                  <highcharts-chart
                    [Highcharts] = "highcharts"
                    [options] = "chartOptionsPie"
                  >
                  </highcharts-chart>
                </div>
                <div  class="pie-legend" fxLayout="column" fxLayoutAlign="{{chartDivAlign}}">
                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend1.png"> Lorem ipsum dolor sit</span>
                  </div>
                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend2.png"> Lorem ipsum dolor sit</span>
                  </div>

                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend3.png"> Lorem ipsum dolor sit</span>
                  </div>

                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend4.png"> Lorem ipsum dolor sit</span>
                  </div>

                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend5.png"> Lorem ipsum dolor sit</span>
                  </div>

                  <div style="margin-bottom: 10px">
                    <span style="font-family: Muli-Light;"><img src="/assets/icons/pie-chart-legend6.png"> Lorem ipsum dolor sit</span>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Paid Expenses">Content 3</mat-tab>
        </mat-tab-group>
      </div>

    </div>

  </div>
</div>
