<div class="menu-panel menu-space">
  <span class="menu-text">Menu</span>
  <button  mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

</div>
<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu">
    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile" ></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main">
    <mat-toolbar class="profile-sub-menu">
      <mat-icon svgIcon="search-profile" ></mat-icon>
      <input type="text" class="search-input" placeholder="Search.....">
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px" >
        <button mat-icon-button >
          <mat-icon svgIcon="edit-practice" ></mat-icon>
        </button>

        <button mat-icon-button (click)="add()">
          <mat-icon class="practice-icon-option" [ngClass]="{'practice-icon-option-active': activity === 'new'}" svgIcon="new-practice" ></mat-icon>
        </button>

        <button mat-icon-button (click)="export()">
          <mat-icon svgIcon="export-practice" ></mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="content-practice-dash" fxLayout="row" fxLayout.md="row" *ngIf="pageWidth > 1024">
      <div fxFlex="28" fxFlex.md="28" class="practice-side-menu">
        <div fxFlex fxLayout="column" fxLayoutGap="30px">
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        style="padding-left: 2%;"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          <div fxFlex="100"  fxLayout="row" (click)="selectedOption = selectedIndex; activity = ''"  *ngFor="let cases of options let selectedIndex = index"
               [ngClass]="{'practice-option-selected': selectedOption === selectedIndex}">
            <mat-checkbox (click)="$event.stopPropagation()"
                          style="padding-left: 2%;"
                          (change)="$event ? selection.toggle(cases) : null"
                          [checked]="selection.isSelected(cases)">
            </mat-checkbox>
            <div class="options-text-practice">




              <span class="practice-menu-heading" [ngClass]="{'practice-menu-heading-active': selectedOption === selectedIndex}">{{cases.title}}</span>
              <br>
              <p class="practice-menu-sub-text" [ngClass]="{'practice-menu-sub-text-active': selectedOption === selectedIndex}"> {{cases.desc}}</p>
            </div>


          </div>
        </div>
      </div>
      <div fxFlex="72" fxFlex.md="72" class="practice-option-content">
        <div *ngIf="activity === 'default'">
          <p class="heading">{{options[selectedOption].title}}</p>
          <p class="master-file-number">Fees: $200</p>
          <p class="sub-text">
            {{sampleText}}
            <br><br>
            {{sampleText}}
            <br><br>
            {{sampleText}}
            <br><br>
            {{sampleText}}

          </p>
        </div>
        <div [hidden]="activity !== 'new'">
          <p class="heading">Name of Case type</p>
          <div class="practice-form-container case-forms" fxLayout="column" fxLayoutGap="30px">
            <mat-form-field appearance="fill">
              <mat-label>Fees</mat-label>
              <input type="text" matInput>
            </mat-form-field>

            <div class="upload-window">
              <span class="form-title">
                Supporting Notes
              </span><br>
              <input type="file" class="dropify" data-height="200" />
            </div>
          </div>

          <div  fxLayout="row" fxLayoutAlign="flex-end" style="margin-top: 5%">
            <button mat-button class="dialog-action">SAVE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
