<div class="menu-panel">
  <span class="menu-text">Menu</span>
  <button  mat-icon-button class="small-screen-menu">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="paginator-container">
    <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<div class="content-dashboard" fxLayout="row" fxLayout.md="row">

  <div fxFlex="17" fxFlex.md="17" class="side-menu-file">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div style="display: inline-flex">
            <mat-icon svgIcon="files-file" class="files-icon-menu-heading"></mat-icon> <span class="menu-heading-files">My Files</span>
          </div>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">
          <mat-icon svgIcon="case-file" class="files-icon-menu"></mat-icon>
          <span class="menu-heading-list">Cases</span>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon svgIcon="expense-file" class="files-icon-menu"></mat-icon>
          <span class="menu-heading-list">Expenses</span>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon svgIcon="individual-file" class="files-icon-menu"></mat-icon>
          <span class="menu-heading-list-active">Individuals</span>
        </mat-list-item>
        <mat-list-item role="listitem">
          <mat-icon svgIcon="invoice-file" class="files-icon-menu"></mat-icon>
          <span class="menu-heading-list">Invoices</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div style="display: inline-flex">
            <mat-icon svgIcon="shared-file" ></mat-icon> <span class="menu-heading-files">Shared Files</span>
          </div>

        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <div class="my-profile">
      <button mat-button class="profile-btn" routerLink="/dashboard/profile">
        <mat-icon svgIcon="mine-profile"  class="files-icon-menu-heading"></mat-icon>
        My Profile
      </button>
    </div>
  </div>

  <div fxFlex="83" fxFlex.md="83" class="dashboard-main file-app-continer">
    <div class="file-sub-menu" id="toolbar-one">
      <mat-icon svgIcon="search-profile"></mat-icon>
      <div id="search-bar">
        <input type="text" class="search-input" placeholder="Search....." (keyup)="applyFilter($event)"  #input>
      </div>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="20px">
        <button mat-icon-button >
          <mat-icon svgIcon="export-file" ></mat-icon>
        </button>

        <button mat-icon-button  [matMenuTriggerFor]="beforeMenu" #t="matMenuTrigger">
          <mat-icon svgIcon="upload-file" class="file-menu-icon" [ngClass]="{'file-menu-icon-active': t.menuOpen}"></mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item style="font-family: Muli-Light !important;">File</button>
          <button mat-menu-item style="font-family: Muli-Light !important;">Folder</button>
        </mat-menu>
      </div>
    </div>
    <div class="table-container">
      <table mat-table [hidden]="pageWidth <= 600" [dataSource]="dataSource" class="data-table">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td  mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> FIRST NAME </th>
          <td  mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="otherName">
          <th mat-header-cell *matHeaderCellDef> OTHER </th>
          <td  mat-cell *matCellDef="let element"> {{element.otherName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> LAST NAME </th>
          <td  mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> EMAIL ADDRESS </th>
          <td  mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>


        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef> MOBILE NUMBER </th>
          <td  mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> ADDRESS </th>
          <td  mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>


        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> ROLE </th>
          <td class="selectable" mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    </div>
  </div>

</div>
