<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>
  <p class="dialog-title">UPLOAD DOCUMENT</p>

  <input type="file" class="dropify" data-height="200" />
</div>


<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="dialog-cancel" (click)="onNoClick()">CANCEL</button>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button mat-button class="dialog-action">UPLOAD</button>
  </div>
</div>
