

@import '~@angular/material/theming';
@include mat-core();
@import "src/assets/styles/style.scss";

$judy-primary: mat-palette($mat-indigo);
$judy-accent: mat-palette($mat-pink, A200, A100, A400);

$judy-warn: mat-palette($mat-red);

$judy-theme: mat-light-theme((
  color: (
    primary: $judy-primary,
    accent: $judy-accent,
    warn: $judy-warn,
  )
));
@include angular-material-theme($judy-theme);



@font-face {
  font-family:  'Muli-Regular';
  src: url("assets/fonts/Muli-Regular.otf") format("opentype");
}

@font-face {
  font-family:  'Muli-Light';
  src: url("assets/fonts/Muli-Light.otf") format("opentype");
}


@font-face {
  font-family:  'Muli-Bold';
  src: url("assets/fonts/Muli-Bold.otf") format("opentype");
}

@font-face {
  font-family:  'Muli-SemiBold';
  src: url("assets/fonts/Muli-SemiBold.otf") format("opentype");
}

@font-face {
  font-family:  'Muli-ExtraBold';
  src: url("assets/fonts/Muli-ExtraBold.otf") format("opentype");
}



html, body {
  height: 100%;
  transition: background-color .5s;
}
body { margin: 0; font-family: 'Muli-Regular', sans-serif; }

.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: unset;
}

.mat-form-field {
  font-family: 'Muli-Regular', sans-serif;
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before{
  background-color: #707070;
  opacity: 0.1;
}

.mat-menu-panel.user-menu {
  max-width:none !important;
  width: 300px !important;
  margin-left: -8px;
  overflow: visible;
  padding: 10px;
}

.mat-paginator {
  background: inherit;
}

.mat-paginator-page-size-label {
  display: none;
}
.mat-paginator-range-label:before {
  content: 'Showing ' !important;
  color: #6F6F6F;
  font-family: Muli-Light, serif;
}

.mat-paginator{
  font-family: Muli-Light, serif;
}
.mat-paginator-navigation-last{
  display: none !important;
}

.mat-paginator-navigation-first{
  display: none !important;
}

.mat-paginator-range-label {
  margin: 0 5px 0 5px !important;
}

.mat-paginator-page-size-select{
  font-family: Muli-Regular !important;
}



.mat-tab-label {
  min-width: 40px !important;
  background-color: transparent;
  color: #3B3B3B;
  font-family: Muli-Regular !important;
  font-size: 14px;

}


.mat-tab-label.mat-tab-label-active {
  min-width: 40px !important;
  background-color: transparent;
  color: #6C0E23;
  font-family: Muli-Regular !important;

}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: #6C0E23 !important;
}

.mat-progress-bar{
  border-radius: 5px !important;
}

.associates-bar{
  .mat-progress-bar-buffer {
    background-color: #E6E6E6;
  }

  .mat-progress-bar-fill::after {
    background-color: #35475D;
  }
}


.leveraging-bar{
  .mat-progress-bar-buffer {
    background-color: #E6E6E6;
  }

  .mat-progress-bar-fill::after {
    background-color: #C42021;
  }
}

.probability-bar{
  .mat-progress-bar-buffer {
    background-color: #E6E6E6;
  }

  .mat-progress-bar-fill::after {
    background-color: #87B38D;
  }
}

.dropify-wrapper{
  border: 1px solid #ECECEC !important;
}

.preview-message{
  font-family: Muli-Light;
  color: #707070;
  font-size: 16px;
}

.mat-table {
  background: inherit;
}

.mat-toolbar {
  background: inherit;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: unset;
}


.mat-expansion-panel-header {

  padding: 0 10px;
}

.mat-expansion-panel {
  background: inherit;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: unset;
}
