.full-screen{
  height: 100vh;
}
.content{
  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse !important;
    box-sizing: border-box !important;
    display: flex !important;
  }
}

.dashboard-main{

  @media only screen and (max-width: 1024px) {
    max-width: 100% !important;
  }
}

.content-dashboard{

  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse !important;
    box-sizing: border-box !important;
    display: flex !important;
  }

}
.account-side{
  height: 100vh;
  background-size: cover;
  background: url("/assets/imgs/user-background.png") no-repeat center;

  @media only screen and (max-width: 1024px) {
    max-width: 100% !important;
  }

  .account-logo{
    width: 15%;
    padding-left: 2vw;
    padding-top: 3vh;

    @media screen and (max-width: 600px) {
      width: 25%;
    }


  }

  .welcome-container{
    padding-top: 30%;
    padding-left: 10%;

    @media only screen and (max-width: 768px) {
      padding-top: 15%;
      padding-bottom: 10%;
    }

    @media screen and (max-width: 600px) {
      padding-top: 20%;
      padding-bottom: 10%;
    }

    @media only screen and (max-width: 1024px) {
      padding-top: 20%;
      padding-bottom: 10%;
    }
  }

  .welcome-text{
    color: #FFFFFF;
    font-family:  'Muli-Bold';
    font-size: 60px;

    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
  }

  .welcome-sub-text{
    padding-top: 5%;
    color: #FFFFFF;
    font-family:  'Muli-Light';
    width: 70%;
    font-size: 20px;
    line-height: 25px;


    @media screen and (max-width: 600px) {
      font-size: 15px;
      line-height: 17px;
      width: 90%;
    }

  }

  .terms-container{
    padding-left: 5%;
    color: #FFFFFF;
    font-family:  'Muli-Light';
    position: fixed;
    bottom: 0;

    @media screen and (max-width: 600px) {
      display: none !important;
    }

    @media only screen and (max-width: 768px) {
      display: none !important;
    }
  }

  .terms-links{
    display: inline-block;
  }


}

.account-form-container{

  padding-left: 10%;
  width: 80%;

  .account-action-title{
    color: #4A4A4A;
    font-size: 30px;
    font-family:  'Muli-Regular';

    @media screen and (max-width: 600px) {
      font-size: 16px;
    }
  }

  .main-form-container{
    padding-top: 10%;
  }

  .forget-text{
    font-family:  'Muli-Regular';
    text-align: right;
    color: #707070;
    font-size: 12px;
    cursor: pointer;
  }

  .action-button{
    background-color: #35475D;
    font-family:  'Muli-Regular';
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
  }



}

.account-line{
  width: 100%;
  border-top: 1px solid #707070;
  opacity: 0.1;
  width: 90%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.socials-container{
  font-family:  'Muli-SemiBold';





  .socials-text{
    font-size: 15px;
    text-align: center !important;
    color: #535353;
    font-family:  'Muli-SemiBold';
  }

  .socials-contact{
    margin-top: 7%;
    //@media only screen and (max-width: 1024px) {
    //  margin-top: 4%;
    //  margin-bottom: 3%;
    //}
  }
}

.main-content{
  padding-top: 15%;

  @media only screen and (max-width: 1024px) {
    max-width: 100% !important;
  }
}

.terms-container-mobile {
  display: none !important;

  @media only screen and (max-width: 1024px) {
    display: block !important;
    color: #707070;
    font-family: 'Muli-Light';
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 12px;
  }

  @media only screen and (max-width: 768px) {
    display: block !important;
    color: #707070;
    font-family: 'Muli-Light';
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 12px;
  }

  @media screen and (max-width: 600px) {
    display: block !important;
    padding-left: 5%;
    color: #707070;
    font-family: 'Muli-Light';
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 8px;
  }
}

.stick-bottom{

  @media only screen and (max-width: 1024px) {
    position: fixed;
    bottom: 0;
    left: 40%;

  }
  @media only screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 35%;
  }
  @media screen and (max-width: 600px) {
    position: fixed;
    bottom: 0;
    left: 20%;
  }

  @media screen and (max-width: 375px) {
    position: unset;
    bottom: unset;
    margin-left: 20%;

  }
}

.header{
  background-color: #35475D !important;
  color: #FFFFFF !important;
  font-family:  'Muli-Bold';
}

.header-holder{
  margin-right: 2%;
  width: 7%;

  @media screen and (max-width: 600px) {
    width: 20%;
  }
}


.apps-container{
  padding-left: 15%;
  padding-right: 15%;

  @media screen and (max-width: 1024px) {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
  }

  @media screen and (max-width: 600px) {
    padding-top: 25% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }

  @media only screen and (max-width: 768px) {

    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;

  }


  .app-name{
    font-family: 'Muli-Light';
    font-size: 15px;
    color: #35475D;
    text-align: center;
    line-height: 22px;

    @media screen and (max-width: 600px) {
      font-size: 8px;
      line-height: 12px;
    }
  }

  .apps-icon{
    margin-bottom: 5%;
    width: 45px;

    @media screen and (max-width: 600px) {
      width: 30%;
    }
  }

  .app-ic{
    cursor: pointer;
  }

  .app-content{
    padding-top: 8%;

    @media screen and (max-width: 600px) {
      padding-top: 20%;
    }

    @media screen and (max-width: 1024px) {
      padding-top: 10%;
    }
  }
}

.mobile-only{

  display: none;
  @media screen and (max-width: 600px) {
    display: block;
  }


}

.user-menu{
  width: 200px !important;
  min-width: 200px !important;
}

.user-avatar{
  width: 60px;
  height: 40px;
  background-color: #A9C1AC;
  border-radius: 5px;
  padding-top: 15px;
}

.initials{
  font-size: 30px;
  font-family:  'Muli-SemiBold';
  color: #508157;
  text-align: center;
}

.email-menu{
  font-family:  'Muli-Light';
  font-size: 15px;
  color: #3B3B3B;
}


.role-menu{
  font-family:  'Muli-Light';
  font-size: 12px;
  color: #AAAAAA;
  line-height: 3px;
}

.menu-break{
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.menu-tab{
  cursor: pointer;
}

.logout-btn{
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
  text-align: center;
  color: #35475D;
  font-family:  'Muli-Bold';
}

.avatar-container{
  height: 93vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 1024px) {
    max-width: 100% !important;
  }

}

.profile-title{
  color: #6C0E23;
  font-size: 30px;
  font-family:  'Muli-SemiBold';
}

.profile-data{
  padding-left: 5%;
  padding-bottom: 10%;
  @media screen and (max-width: 1024px) {
    padding-top: 15%;
    padding-bottom: 5%;
    max-width: 100% !important;
  }
}

.user-data{
  padding-top: 5%;
  width: 80%;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }



}

.hide-icon{
  color: #707070 !important;
  cursor: pointer !important;
}

.selectable{
  cursor: pointer !important;
}

.edit-pofile-img{
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    padding-top: 90%;
    color: #CBCBCB;
    font-family: Muli-Regular;
    font-size: 12px;
    text-align: right;
    padding-right: 2%;
    //position: absolute;
  }
}

.edit-info{
  font-family:  'Muli-Light';
  color: #AAAAAA;
  font-size: 16px;
  cursor: pointer;

}

.edit-icon{

  font-size: 18px !important;
  width: 23px !important;
}

.edit-img{
  text-align: right;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  padding-left: 28%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.content-profile{
  @media screen and (max-width: 1024px) {
    flex-direction: column !important;
    box-sizing: border-box !important;
    display: flex !important;
  }
}

.menu-panel{
  background-color: #E8E8E8;
  //height: 5vh;
  padding-left: 3%;
  //padding-top: 15px;

  .menu-text{
    font-family: Muli-Light;
    font-size: 20px;
    color: #6F6F6F;
    cursor: pointer;
    padding-top: 20px;

    @media only screen and (max-width: 1024px) {
      display: none;
    }
  }



  .small-screen-menu{

    display: none;

    @media only screen and (max-width: 1024px) {
      display: block;


    }
  }

  .menu-icon{
    color: #6F6F6F !important;
  }

  .menu-btn{
    font-family: Muli-Light;
    font-size: 20px;
    color: #6F6F6F;
    cursor: pointer;
    margin: 10px;

  }
}

.side-menu{
  background-color: #F4F4F4;
  height: 89vh;
  padding-top: 2%;
  padding-left: 1%;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.side-menu-link{
  font-family: Muli-Light, serif;
  font-size: 18px;
  color: #3B3B3B;
  text-align: left;
}

.side-menu-link-active{
  font-family: Muli-SemiBold, serif;
  font-size: 18px;
  color: #6C0E23;
  text-align: left;
  display: inline-flex;
}

.side-menu-count{
  font-family: Muli-Light, serif;
  font-size: 13px;
  color: #3B3B3B;
  text-align: right;
}

.side-menu-count-active{
  font-family: Muli-Light, serif;
  font-size: 13px;
  color: #6C0E23;
  text-align: right;

}

table.links-table{
  width: 95%;
}
table.links-table tr,td{
  //padding-bottom: 30px;


}

.active-dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #6C0E23;
  margin-right: 10px;
  margin-bottom: 1px;

}

table.links-table tr{
  cursor: pointer;
}


.side-menu-icon{
  height: 17px !important;
}

.table-container{
  height: 60vh;
}

table.data-table-mobile{
  width: 100%;
}
table.data-table{
  width: 100%;
}

table.data-table td{
  font-family: Muli-Light;
  color: #000000;
  font-size: 15px;
}

table.data-table th {
  font-family: Muli-Light;
  color: #6C6C6C;
  font-size: 14px;
}

.profile-sub-menu{

  padding-right: 5% !important;
  padding-left: 5% !important;
  padding-top: 1%;
  padding-bottom: 1%;
}

.search-input{
  height: 27px;
  margin-left: 2%;
  width: 50%;
  border: none;
  font-family: Muli-Regular, serif;
  color: #AAAAAA;
  font-size: 16px;
  background-color: inherit;
}

textarea:focus, input:focus, button:focus, select:focus{
  outline: none;
}

.dialog-close-btn{
  color: #AAAAAA !important;
  width: 10px !important;
  font-size: 20px !important;
}

.dialog-btn-close{
  background: transparent;
  border: none;
  cursor: pointer;
}

.dialog-title{
  text-transform: uppercase;
  color: #6C0E23;
  font-family: Muli-Bold;
  font-size: 20px;
}

.dialog-sub-title{
  text-transform: capitalize;
  color: #707070;
  font-family: Muli-Regular;
  font-size: 18px;
}

.dialog-content{
  margin-top: 8%;


}

.dialog-text{
  color: #707070;
  font-family: Muli-Regular;
  font-size: 16px;
}

.app-input{
  width: 95%;
  border: 1px solid #ececec;
  font-family: Muli-Regular;
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 20px;


}

.app-input-required{
  border: 1px solid #ff0000;
}


.app-select{
  width: 100%;
  border: 1px solid #ececec;
  font-family: Muli-Regular;
  padding: 8px;
  border-radius: 3px;
}

.dialog-actions{
  margin-top: 4%;
  padding-bottom: 3%;
}

.dialog-cancel{
  font-family: Muli-Regular !important;
  color: #767676 !important;
  font-size: 16px !important;
  text-align: left !important;
  padding-left: unset !important;

}

.dialog-action{
  font-family: Muli-ExtraBold !important;
  color: #00AD6C !important;
  font-size: 18px !important;
  text-align: right !important;
}

.profile-view{
  overflow-y: hidden !important;
  height: 94vh;

  @media screen and (max-width: 1024px) {
    overflow-y: scroll !important;
    height: 100%;
  }

}

.deactivate-btn{
  font-family: Muli-SemiBold;
  font-size: 20px;
  color: #C42021 !important;
  text-transform: uppercase !important;
  padding: 10px !important;

}

.deactivate-container{
  position: fixed;
  right: 0;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.my-profile {
  cursor: pointer;
  position: absolute;
  bottom: 10px;

}

.profile-btn{
  font-family: Muli-Light !important;
  font-size: 18px !important;
  color: #3B3B3B !important;
}

.paginator-container{
  @media only screen and (max-width: 600px) {
    display: none !important;
  }
}

.mobile-table-name{
  font-family: Muli-Light;
  color: #000000;
  font-size: 16px;
}
table.data-table-mobile tr,td{

  @media only screen and (max-width: 600px) {
    padding-bottom: unset;
  }
}

.mobile-table-email{
  color: #696969;
  font-size: 14px;
  font-family: Muli-Light;
}

.table-dot {
  height: 30px;
  width: 34px;
  border-radius: 50%;
  display: inline-block;
  background-color: #0E5364;
  color: #ffffff;
  font-family: Muli-SemiBold;
  margin-right: 5px;
  padding-left: 7px;
  padding-top: 10px;
  font-size: 15px;
  margin-top: -5px;
}

table.mobile-data-table{
  width: 100%;
}

.mobile-arrow{
  text-align: right;
}

.menu-space{
  padding-top: 1%;
  padding-bottom: 1%;
}

.practice-side-menu{
  background-color: #EBF0F6;
  height: 80vh;
  overflow-y: scroll;
  padding-top: 3%;
  padding-left: 1.5%;
}

.practice-option-selected{
  background-color: #35475D;
  padding-top: 5%;
  padding-bottom: 5%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;


}

.practice-active-icon{
  color: #ffffff !important;
}

.practice-icon{
  color: #35475D;
}

.practice-menu-heading{
  color: #3B3B3B;
  font-size: 16px;
  font-family: Muli-Bold;
  //padding-left: 5%;
}

.practice-menu-heading-active{
  color: #ffffff;
  font-size: 16px;
  font-family: Muli-Bold;

}

.practice-menu-sub-text-active{

  font-family: Muli-Regular;
  font-size: 12px;
  color: #AAAAAA !important;
}

.practice-menu-sub-text {
  font-family: Muli-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 8px;
}

.options-text-practice{
  margin-left: 5%;
  cursor: pointer;
}

.practice-option-content{
  padding-left: 2%;
  padding-right: 2%;
  height: 80vh;
  overflow-y: scroll;



  .heading{
    color: #3B3B3B;
    font-size: 22px;
    font-family: Muli-Bold;
  }



  .sub-text{
    color: #242424;
    font-family: Muli-Light;
    font-size: 16px;
    line-height: 25px;
    width: 95%;
    margin-bottom: 5%;
  }

  .heading-alt{
    font-size: 18px;
    color: #3B3B3B;
    font-family: Muli-Bold;
    margin-bottom: -3%;

  }
}

.chart-container{
  margin-top: 5%;

  .increase-amount{
    color: #3B3B3B;
    font-family: Muli-SemiBold;
    font-size: 22px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .increase-percent{
    color: #6C0E23;
    font-family: Muli-Regular;
    font-size: 16px;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .chart-data{

  }

  .stats-main{
    font-family: Muli-SemiBold;
    font-size: 28px;
    color: #3B3B3B;
  }

  .stats-other{
    font-size: 14px;
    color: #3B3B3B;
    font-family: Muli-Regular;

  }

  .progress-container{
    width: 70%;
    margin-top: 3%;
  }

  .stats-title{
    color: #707070;
    font-family: Muli-Regular;
    font-size: 12px;
  }
}


.practice-icon-option{
  color: #707070 !important;
}
.practice-icon-option-active{
  color: #6C0E23 !important;
}

.practice-form-container{

  .form-title{
    font-family: Muli-Regular;
    color: rgba(0, 0, 0, 0.6);


  }

  .upload-window{
    width: 95%;
  }
}


.new-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
}

.stats-container{
  padding-top: 3%;
  padding-left: 5%;
}


.icon-width{

  @media screen and (max-width: 1024px) {
    width: 5%;
  }

  @media screen and (max-width: 600px) {
    width: 15% !important;
  }
}


.practice-mobile{

  .heading{
    color: #3B3B3B;
    font-size: 22px;
    font-family: Muli-Bold;

    @media screen and (max-width: 600px) {
      margin-top: 10%;
    }
  }



  .sub-text{
    color: #242424;
    font-family: Muli-Light;
    font-size: 16px;
    line-height: 25px;
    width: 95%;
    margin-bottom: 5%;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .heading-alt{
    font-size: 18px;
    color: #3B3B3B;
    font-family: Muli-Bold;
    margin-bottom: -3%;

    @media screen and (max-width: 600px) {
      margin-bottom: unset;
      margin-top: 1%;
    }


  }

  .contents{
    padding-left: 2%;
    padding-right: 2%;
  }
}


.practice-stats-alt{
  display: none;

  @media screen and (max-width: 600px) {

    display: block;
    width: 100% !important;
    margin-top: 1%;
    margin-bottom: 8%;
  }
}


.highcharts-content{
  width: 650px;
  height: 400px;
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
}

.highcharts-content-mobile{

  @media screen and (max-width: 1024px) {
    width: 100%;
    //height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
  }

}

.mobile-close{
  font-family: Muli-SemiBold;
  font-size: 18px;
  color: #3B3B3B;
  display: flex;
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 20%;
}

.master-heading{
  font-family: Muli-Bold;
  font-size: 22px;
  color: #6C0E23;
}

.master-data-set{
  padding-bottom: 3%;
}

.master-subtext{
  font-family: Muli-Light;
  font-size: 16px;
  color: #242424;
  padding-top: 1%;
  line-height: 30px;
}


.master-line{
  width: 100%;
  border-top: 0px solid #ECECEC;
}

.master-expand{
  font-family: Muli-Regular;
  font-size: 18px;
  color: #35475D;
  float: right;
  cursor: pointer;
}

.master-file-number{
  color: #6C0E23;
  font-family: Muli-Regular;
  font-size: 14px;
}


textarea{

  margin-top: 1%;
  width: 100%;
  border: 1px solid #ECECEC;
  resize: none;
  font-family: Muli-Regular;
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
}

.master-container{
  float: right;
  padding-right: 5%;
  .master-status{
    color: #00AD6C;
    font-family: Muli-SemiBold;
    font-size: 14px;
  }

  .active-dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    background-color: #00AD6C;
    margin-right: 10px;
    margin-bottom: 1px;
  }

}

.invoice-tab-container{

  table tr,td{
    padding-bottom: 30px !important;
  }

}

.invoice-items{
  margin-top: 5%;


  .dialog-items{
    font-size: 16px;
    font-family: Muli-Light;
    color: #242424;
  }

  table tr,td{
    padding-bottom: 15px !important;
    padding-top: 15px;
  }


}


.invoice-app-heading{
  color: #3B3B3B;
  font-family: Muli-Bold;
  font-size: 22px;
}

.invoice-app-sub-menu{

  padding-right: 2% !important;
  padding-top: 1%;
  padding-bottom: 1%;
}

.invoice-app-mainn{
  padding-left: 18px;
  padding-right: 18px;
  height: 78vh;
  overflow-y: scroll;
  background-color: #FAFAFA;
  padding-top: 10px;

  @media screen and (max-width: 1024px) {
    height: unset;
  }
}

.invoice-app-tiles{
  margin-top: 3%;
  height: 150px;

  @media screen and (max-width: 600px) {
    display: none !important;
  }

  .tile{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;

    .heading{
      color: #707070;
      font-family: Muli-Regular;
      font-size: 16px;
    }

    .amount{
      color: #35475D;
      font-size: 28px;
      font-family: Muli-Bold;
      padding-top: 5%;
    }

    .duration{
      color: #87B38D;
      font-family: Muli-Light;
      font-size: 13px;
      padding-top: 5%;
    }
  }




}

.invoice-app-charts {
  margin-top: 3%;
  height: 480px;
  overflow-x: scroll;

  @media screen and (max-width: 600px) {
    height: unset;
  }

  .tile-chart{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    overflow-y: scroll;

  }
}
.invoice-app-tabs{
  margin-top: 5%;
}

.invoice-app-tab-main{
  margin-top: 3%;
  height: 500px;
  padding-bottom: 5%;

  @media screen and (max-width: 600px) {
    height: unset;
  }

  .tile-chart{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    overflow: auto;


  }
}


.invoice-export-btn{
  color: #6C0E23;
  font-size: 16px;
  font-family: Muli-Regular;
  padding-left: 10px;

}

.highcharts-content-invoice{
  width: 100% !important;
  height: 400px;
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
}

.revenue-title{
  color: #707070;
  font-size: 16px;
  font-family: Muli-Regular;
}


.pie-legend{
  width: 50%;

  @media screen and (max-width: 1024px) {
    width: unset;
    z-index: 4;
    padding-left: 10%;
  }
}


.pie-container{
  @media screen and (max-width: 1024px) {
    margin-bottom: -18%;

  }
}

.invoice-tab-heading{
  @media screen and (max-width: 768px) {
    font-size: 10px !important;

  }
}

.invoice-tab-value{
  @media screen and (max-width: 768px) {
    font-size: 9px !important;

  }
}

.invoice-tab-iconn{
  @media screen and (max-width: 768px) {
    font-size: 15px !important;
    width: 15px !important;
    height: 15px !important;

  }
}


.invoice-app-tiles-mobile{

  display: none;

  @media screen and (max-width: 600px) {
    overflow-x: scroll;
    margin-top: 3%;
    height: 150px;
    display: -webkit-box;

    .tile {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 10px;
      width: 200px;
      margin-left: 5px;

      .heading {
        color: #707070;
        font-family: Muli-Regular;
        font-size: 14px;
      }

      .amount {
        color: #35475D;
        font-size: 26px;
        font-family: Muli-Bold;
        padding-top: 5%;
      }

      .duration {
        color: #87B38D;
        font-family: Muli-Light;
        font-size: 11px;
        padding-top: 5%;
      }
    }

  }


}


.charts-select{
  width: 15%;

  @media screen and (max-width: 600px) {
    width: 23%;
  }
}


.case-forms{
  margin-top: 5%;
}


.menu-heading-files{
  color: #3B3B3B;
  font-size: 18px;
  font-family: Muli-Regular;
  margin-left: 15px;
}

.files-icon-menu{
  width: 18px !important;
  height: 18px !important;
}

.files-icon-menu-heading{
  width: 20px !important;
  height: 20px !important;
}

.menu-heading-list{
  color: #3B3B3B;
  font-size: 16px;
  font-family: Muli-Light;
  margin-left: 15px;
}

.menu-heading-list-active{
  color: #6C0E23;
  font-size: 16px;
  font-family: Muli-Light;
  margin-left: 15px;
}

.side-menu-file{
  background-color: #FFFFFF;
  height: 89vh;
  padding-top: 2%;
  padding-left: 1%;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}



.file-sub-menu {
  padding-right: 1% !important;
  padding-left: 1% !important;
  padding-top: 1%;
  padding-bottom: 1%;
}

.file-app-continer{
  background: #FAFAFA;
}

.file-menu-icon{
  color: #707070;
}

.file-menu-icon-active{
  color: #6C0E23;
}


.side-menu-dashboard{
  background-color: #F4F4F4;
  height: 89vh;
  padding-top: 2%;
  padding-left: 10px;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.dashboard-item{
  cursor: pointer !important;
}

.dashboard-icon{
  margin-right: 10px;
  width: 18px;
}

.dashboard-tab-active{
  color: #6C0E23;
  font-family: Muli-ExtraBold;
  font-size: 16px;
  cursor: pointer;
}

.dashboard-tab{
  color: #CECECE;
  font-family: Muli-ExtraBold;
  font-size: 16px;
  cursor: pointer;
}



.dashboard-chart-conatiner{
  height: 400px;
  margin-top: 1%;

  @media only screen and (max-width: 768px) {
    height: 100vh;
  }


  .pie-chart-conatiner{
    background: #6C0E23;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .pie-dash-legend{
    color: #FFFFFF;
  }

  .legend-text{
    font-family: Muli-Light;
    font-size: 13px;
    opacity: 0.55;
  }

  .legend-number{
    font-family: Muli-Bold;
    font-size: 14px;
  }

  .bar-chart-conatiner{
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;

    .toolbar{
      padding-bottom: 5%;
    }

    .title{
      color: #3B3B3B;
      font-family: Muli-Bold;
      font-size: 17px;
    }

    .options{
      color: #3B3B3B;
      font-family: Muli-Light;
      font-size: 14px;
      cursor: pointer;
    }

    .options-active{
      color: #6C0E23;
      font-family: Muli-Light;
      font-size: 14px;
      cursor: pointer;
    }

    .active-bar{
      border-top: 1px solid #6C0E23;
    }
  }
}

.stats-dashboard-container{
  margin-top: 1%;

  .tiless{
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;

    .graph-tile{
      width: 150px;
      margin-top: -15%;
    }

    .stat-value{
      color: #3B3B3B;
      font-family: Muli-SemiBold;
      font-size: 30px;
    }

    .mat-progress-bar-buffer {
      background-color: #EAEAEA;
    }

    .mat-progress-bar-fill::after {
      background-color: #87B38D;
    }


    .title{
      color: #3B3B3B;
      font-family: Muli-Bold;
      font-size: 16px;
    }
  }
}

.active-tile{
  color: #FFFFFF;
  background-color: #576C84;

}
.active-tiles{
  color: #FFFFFF;
  background-color:#C45920
}


.expennse-opt{
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

.pie-mobile{
  @media only screen and (max-width: 768px) {
    width: 400px;
    margin-left: auto;
    margin-right: auto
  }
}

.bar-mobile{

  @media only screen and (max-width: 600px) {
    padding-top: 10%;
  }

}

.mobile-opt{
  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
  }
}



.calender-show{
  background-color: #FFFFFF;
  padding-top: 5%;
  padding-left: 2%;
  padding-right: 2%;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.calender-events{
  background-color: #FAFAFA;
  height: 85vh;
  padding-left: 1%;
  padding-right: 1%;
  overflow-y: scroll;



  .more-icon{
    float: right;
    width: 12px;
    font-size: 16px;

    @media only screen and (max-width: 600px) {
      width: 9px;
      font-size: 10px;
      padding-top: 5px;
    }
  }

  @media only screen and (max-width: 1024px) {
    max-width: 100% !important;
  }

  .active-event{
    background-color: #DEE9DF;
    padding-left: 5px;
    font-size: 10px;
    font-family: Muli-Regular;
    margin: 2px;
    cursor: pointer;
    border-radius: 2px;
    color: #557E5A;

    @media screen and (max-width: 600px) {
      font-size: 6px;
      min-height: 4px;
    }
  }

  .overdue-event{
    background-color: #EDC4C4;
    padding-left: 5px;
    font-size: 10px;
    font-family: Muli-Regular;
    margin: 2px;
    cursor: pointer;
    border-radius: 2px;
    color: #C42021;

    @media screen and (max-width: 600px) {
      font-size: 6px;
      min-height: 4px;
    }
  }

  .event-number{
    font-family: Muli-Light;
    color: #707070;
  }

  .events-grid{
    padding-top: 2%;
  }

  .events-row{
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    height: 120px;


    @media screen and (max-width: 600px) {
      height: 75px;
    }

    .event-cell{
      border-right: 1px solid #e3e3e3;
      overflow-y: scroll;
    }
  }

  .events-row-rest{
    border-bottom: 1px solid #e3e3e3;
    height: 120px;

    @media screen and (max-width: 600px) {
      height: 75px;
    }

    .event-cell{
      border-right: 1px solid #e3e3e3;
      overflow-y: scroll;
    }
  }

  .calender-day{
    text-align: center;
    color: #3B3B3B;
    font-size: 16px;
    font-family: Muli-Regular;
  }

  .heading-alt {
    font-size: 15px;
    color: #3B3B3B;
    font-family: Muli-Bold;
    margin-bottom: -4%;
    margin-top: 2%;

    @media screen and (max-width: 600px) {
      margin-bottom: unset;
      margin-top: 1%;
    }
  }
}

.left-control{
  float: left;
  color: #707070 !important;
  cursor: pointer;
}

.right-control{
  float: right;
  color: #707070 !important;
  cursor: pointer;
}

.monthName{
  color: #707070;
  font-family: Muli-Regular;
  font-size: 20px;
}

.calen-control{
  text-align: center;
}

.calender-thumb{
  margin-top: 10%;

  table tr,td{
    padding-bottom: 15px;
  }

  .day-name{
    color: #B2B0B0;
    font-family: Muli-Light;
    font-size: 14px;
    text-align: center;
  }

  .day-nnumber{
    color: #707070;
    font-family: Muli-Light;
    font-size: 15px;
    text-align: center;
  }
}

.container span {
  display: inline-block;
}


.avatar-container-profile{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .placeholder{
    height: inherit;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100% !important;
  }

}

.edit-img-profile{
  text-align: right;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 35%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}


.invite-done{
  position: fixed;
  top: 2%;
  left: 90%;
  color: #AAAAAA;

  .btn{
    font-family: Muli-SemiBold;
    font-size: 15px;
  }
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}


.user-data-profile{
  padding-top: 5%;
  width: 90%;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }



}


button:disabled{
  opacity: 0.5;
  cursor: not-allowed !important;
}

.centered{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke: #35475D !important;

}

.today{
  background: #15438B;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #00000029;
  color: #FFFFFF !important;
  padding: 3px 5px;

}

