<div class="apps-container">
  <div class="app-content" fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div (click)="goToApp('/profile/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/project.png"  class="apps-icon">
      <p class="app-name">Profile Management <br> Module</p>
    </div>

    <div (click)="goToApp('/practice/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/practice.png"  class="apps-icon">
      <p class="app-name">Practice Management <br> Module</p>
    </div>

    <div (click)="goToApp('/master/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/master.png"  class="apps-icon">
      <p class="app-name">Master Management <br> Module</p>
    </div>

  </div>

  <div class="app-content" fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div (click)="goToApp('/invoice/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/invoices.png"  class="apps-icon">
      <p class="app-name">Invoices</p>
    </div>

    <div (click)="goToApp('/expense/dashboard')"  class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/expense.png"  class="apps-icon">
      <p class="app-name">Expense <br> Management</p>
    </div>

    <div (click)="goToApp('/case/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/case.png"  class="apps-icon">
      <p class="app-name">Case Management <br> Module</p>
    </div>

  </div>

  <div class="app-content" fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div (click)="goToApp('/document/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/document.png"  class="apps-icon">
      <p class="app-name">Document Module</p>
    </div>

    <div (click)="goToApp('/calender/dashboard')"   class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/calender.png"  class="apps-icon">
      <p class="app-name">Calendar Module</p>
    </div>

    <div (click)="goToApp('/file/dashboard')" class="app-ic" fxFlex="33" fxFlex.xs="33" fxFlex.sm="33" fxFlex.md="33" fxLayout="column" fxLayoutAlign="center center">
      <img  src="/assets/imgs/file.png"  class="apps-icon">
      <p class="app-name">File Storage</p>
    </div>

  </div>
</div>
